:root {
--litmos-dark-pale-blue: #636466;
--litmos-very-light-soft-orange: #f5efe3;
--litmos-normal-vivid-green: #00a8e3;
--litmos-very-light-rich-green: #bee0ee;
--litmos-light-rich-green: #72c9e9;
--litmos-light-pale-red: #bfbfbf;
--litmos-very-light-pale-red: #e5e5e5;
--litmos-very-dark-pale-red: #000000;
--litmos-light-pale-red: #ababab;
--litmos-very-light-pale-red: #f5f5f5;
--litmos-dark-pale-red: #5b5b5b;
--litmos-dark-pale-red: #4c4c4c;
--litmos-light-pale-red: #c9c9c9;
--litmos-very-dark-pale-red: #2a2a2a;
--litmos-normal-rich-orange: #96c93c;
--litmos-dark-pale-red: #333333;
--litmos-normal-rich-orange: #8bbb39;
--litmos-light-vivid-orange: #ff9c33;
--litmos-dark-vivid-green: #006699;
--litmos-light-pale-red: #999999;
--litmos-very-light-pale-red: #dddddd;
--litmos-very-light-pale-red: #d4d4d4;
--litmos-normal-pale-red: #666666;
--litmos-very-light-pale-red: #eeeeee;
--litmos-dark-pale-red: #555555;
--litmos-dark-pale-blue: #4d4d4f;
--litmos-light-pale-blue: #9fa1a4;
--litmos-very-dark-pale-red: #303030;
--litmos-normal-rich-orange: #a5cf48;
--litmos-dark-pale-red: #616161;
--litmos-normal-pale-red: #807979;
--litmos-very-light-pale-red: #d0d0d0;
--litmos-very-light-pale-red: #e8e8e8;
--litmos-normal-rich-orange: #9ac949;
--litmos-light-pale-red: #a0a0a0;
--litmos-very-light-pale-red: #ffffff;
--litmos-dark-pale-red: #333333;
--litmos-normal-rich-green: #337ab7;
--litmos-dark-rich-green: #2b6191;
--litmos-very-light-pale-red: #e4e4e4;
--litmos-light-pale-red: #c0c0c0;
--litmos-very-dark-pale-red: #000000;
--litmos-dark-rich-green: #23527c;
--litmos-normal-pale-red: #777777;
--litmos-very-light-vivid-orange: #fcf8e3;
--litmos-dark-rich-green: #286090;
--litmos-dark-soft-yellow: #3c763d;
--litmos-dark-soft-yellow: #2b542c;
--litmos-dark-soft-green: #31708f;
--litmos-dark-soft-green: #245269;
--litmos-dark-soft-orange: #8a6d3b;
--litmos-dark-soft-orange: #66512c;
--litmos-normal-soft-red: #a94442;
--litmos-dark-soft-red: #843534;
--litmos-very-light-soft-yellow: #dff0d8;
--litmos-light-soft-yellow: #c1e2b3;
--litmos-very-light-rich-green: #d9edf7;
--litmos-very-light-rich-green: #afd9ee;
--litmos-very-light-vivid-orange: #f7ecb5;
--litmos-very-light-soft-red: #f2dede;
--litmos-very-light-soft-red: #e4b9b9;
--litmos-normal-rich-red: #c7254e;
--litmos-very-light-soft-red: #f9f2f4;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #f9f9f9;
--litmos-very-light-soft-yellow: #d0e9c6;
--litmos-very-light-rich-green: #c4e3f3;
--litmos-very-light-vivid-orange: #faf2cc;
--litmos-very-light-soft-red: #ebcccc;
--litmos-very-dark-pale-red: #000000;
--litmos-light-rich-green: #66afe9;
--litmos-very-dark-pale-red: #000000;
--litmos-light-rich-green: #66afe9;
--litmos-normal-soft-yellow: #67b168;
--litmos-normal-soft-orange: #c0a16b;
--litmos-light-soft-red: #ce8483;
--litmos-normal-pale-red: #737373;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #e6e6e6;
--litmos-normal-pale-red: #8c8c8c;
--litmos-light-pale-red: #adadad;
--litmos-normal-rich-green: #2e6da4;
--litmos-very-dark-rich-green: #122b40;
--litmos-dark-rich-green: #204d74;
--litmos-normal-soft-yellow: #5cb85c;
--litmos-normal-soft-yellow: #4cae4c;
--litmos-normal-soft-yellow: #449d44;
--litmos-dark-soft-yellow: #255625;
--litmos-dark-soft-yellow: #398439;
--litmos-light-rich-green: #5bc0de;
--litmos-normal-rich-green: #46b8da;
--litmos-normal-rich-green: #31b0d5;
--litmos-dark-rich-green: #1b6d85;
--litmos-normal-rich-green: #269abc;
--litmos-light-vivid-orange: #f0ad4e;
--litmos-normal-vivid-orange: #eea236;
--litmos-normal-vivid-orange: #ec971f;
--litmos-dark-vivid-orange: #985f0d;
--litmos-normal-vivid-orange: #d58512;
--litmos-normal-rich-red: #d9534f;
--litmos-normal-rich-red: #d43f3a;
--litmos-normal-rich-red: #c9302c;
--litmos-dark-rich-red: #761c19;
--litmos-normal-rich-red: #ac2925;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #ffffff;
--litmos-very-light-pale-red: #f8f8f8;
--litmos-very-light-pale-red: #e7e7e7;
--litmos-dark-pale-red: #5e5e5e;
--litmos-very-dark-pale-red: #080808;
--litmos-light-pale-red: #9d9d9d;
--litmos-very-dark-pale-red: #101010;
--litmos-very-light-pale-red: #d5d5d5;
--litmos-very-light-soft-yellow: #d6e9c6;
--litmos-light-soft-yellow: #c9e2b3;
--litmos-very-light-rich-green: #bce8f1;
--litmos-light-rich-green: #a6e1ec;
--litmos-very-light-vivid-orange: #faebcc;
--litmos-very-light-vivid-orange: #f7e1b5;
--litmos-very-light-soft-red: #ebccd1;
--litmos-very-light-soft-red: #e4b9c0;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #ffffff;
--litmos-very-light-rich-green: #c7ddef;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #e3e3e3;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #ebebeb;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-vivid-orange: #f0ab00;
--litmos-normal-vivid-green: #1b91ff;
--litmos-light-vivid-blue: #9b76ff;
--litmos-normal-vivid-orange: #f58b00;
--litmos-normal-rich-yellow: #5cc122;
--litmos-normal-vivid-red: #ee3939;
--litmos-dark-vivid-green: #04aca7;
--litmos-normal-vivid-purple: #f31dec;
--litmos-normal-pale-green: #8396a8;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-soft-green: #f3f6f7;
--litmos-normal-soft-blue: #444790;
--litmos-normal-vivid-orange: #d89900;
--litmos-normal-rich-red: #d4403a;
--litmos-light-pale-red: #c5c5c5;
--litmos-normal-pale-red: #737373;
--litmos-normal-pale-red: #949494;
--litmos-normal-pale-red: #949494;
--litmos-light-vivid-blue: #4a90f2;
--litmos-light-vivid-blue: #a691fe;
--litmos-light-rich-red: #ec995b;
--litmos-normal-soft-yellow: #72be87;
--litmos-light-vivid-red: #f26161;
--litmos-light-soft-green: #77c5cf;
--litmos-light-rich-purple: #d872ed;
--litmos-light-soft-blue: #a4b3c3;
--litmos-dark-vivid-orange: #a9640a;
--litmos-normal-vivid-orange: #d9800d;
--litmos-normal-rich-blue: #2274e2;
--litmos-normal-vivid-red: #eb0008;
--litmos-dark-vivid-yellow: #1b870d;
--litmos-dark-vivid-yellow: #22a711;
--litmos-normal-pale-red: #707070;
--litmos-very-light-pale-green: #d7dbdd;
--litmos-light-pale-red: #9c9c9c;
--litmos-very-light-pale-red: #f1f1f1;
--litmos-very-light-pale-green: #f7f8f8;
--litmos-very-light-pale-red: #cccccc;
--litmos-light-vivid-orange: #fcbe49;
--litmos-normal-rich-yellow: #41d239;
--litmos-light-vivid-red: #f84545;
--litmos-very-dark-pale-red: #090909;
--litmos-normal-vivid-yellow: #0ccf6b;
--litmos-dark-pale-red: #3e3c3c;
--litmos-very-light-pale-red: #f6f6f6;
--litmos-dark-pale-green: #536878;
--litmos-very-light-pale-red: #d3d3d3;
--litmos-light-vivid-red: #fa3e3e;
--litmos-dark-pale-red: #4e4e4e;
--litmos-dark-vivid-yellow: #56a00e;
--litmos-normal-vivid-red: #fd2e06;
--litmos-dark-pale-red: #3d3d3d;
--litmos-dark-vivid-purple: #970a82;
--litmos-normal-rich-yellow: #4fb81c;
--litmos-normal-vivid-green: #008fd3;
--litmos-normal-vivid-red: #e35600;
--litmos-normal-pale-red: #757575;
--litmos-very-light-soft-blue: #f2f0f5;
--litmos-very-light-pale-red: #dfdfdf;
--litmos-normal-vivid-blue: #1980ec;
--litmos-very-dark-pale-red: #010101;
--litmos-normal-vivid-green: #0097cf;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-pale-red: #dcdcdc;
--litmos-normal-vivid-red: #cc0000;
--litmos-normal-vivid-orange: #ffd230;
--litmos-normal-vivid-orange: #d8ac12;
--litmos-normal-rich-orange: #e3ba24;
--litmos-light-pale-red: #a7a7a7;
--litmos-light-pale-red: #b7b7b7;
--litmos-light-rich-orange: #d7b472;
--litmos-normal-soft-orange: #aa8a4c;
--litmos-normal-soft-orange: #b7994b;
--litmos-very-light-pale-green: #f8f9f9;
--litmos-normal-vivid-yellow: #00d24c;
--litmos-very-light-soft-green: #d4dfe3;
--litmos-very-light-pale-red: #e0e0e0;
--litmos-very-light-rich-green: #b5d0e8;
--litmos-normal-rich-green: #428bca;
--litmos-light-pale-red: #bbbbbb;
--litmos-normal-vivid-orange: #efab00;
--litmos-normal-pale-red: #767676;
--litmos-normal-pale-red: #727272;
--litmos-dark-vivid-yellow: #068845;
--litmos-dark-vivid-green: #0076ca;
--litmos-light-rich-green: #5bc6e8;
--litmos-very-light-pale-purple: #e5e4e5;
--litmos-light-vivid-red: #fa4747;
--litmos-very-dark-pale-blue: #131517;
--litmos-very-dark-pale-red: #1c1c1c;
--litmos-dark-vivid-yellow: #088746;
--litmos-dark-vivid-yellow: #099f52;
--litmos-very-dark-pale-red: #000000;
--litmos-light-pale-red: #cacaca;
--litmos-dark-vivid-yellow: #0bb75f;
--litmos-very-dark-vivid-yellow: #043e20;
--litmos-dark-vivid-yellow: #077d41;
--litmos-dark-vivid-yellow: #00b942;
--litmos-very-dark-vivid-yellow: #003914;
--litmos-dark-vivid-yellow: #009f39;
--litmos-dark-vivid-yellow: #007b2c;
--litmos-normal-pale-blue: #6e6e8c;
--litmos-normal-pale-blue: #7c7c98;
--litmos-dark-pale-blue: #363645;
--litmos-normal-pale-blue: #63637e;
--litmos-dark-pale-blue: #53536a;
--litmos-normal-vivid-orange: #ffa700;
--litmos-normal-vivid-orange: #ffb019;
--litmos-dark-vivid-orange: #7f5300;
--litmos-normal-vivid-orange: #e59600;
--litmos-dark-vivid-orange: #c17f00;
--litmos-very-light-pale-red: #ffffff;
--litmos-dark-vivid-yellow: #0ab05b;
--litmos-very-dark-pale-red: #000000;
--litmos-very-light-vivid-yellow: #adfad3;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-rich-blue: #447de8;
--litmos-light-vivid-red: #fa4747;
--litmos-normal-vivid-yellow: #00d24b;
--litmos-very-light-pale-blue: #d1d5db;
--litmos-normal-rich-blue: #4f46e5;
--litmos-very-light-pale-red: #f0f0f0;
--litmos-very-light-vivid-red: #ffcccc;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-vivid-red: #ff3300;
--litmos-light-vivid-red: #ff8635;
--litmos-dark-vivid-yellow: #009900;
--litmos-dark-vivid-yellow: #00c100;
--litmos-very-light-vivid-orange: #ffff99;
--litmos-very-light-vivid-blue: #99ccff;
--litmos-normal-soft-red: #bc6580;
--litmos-normal-soft-blue: #336699;
--litmos-normal-vivid-red: #ff0000;
--litmos-light-pale-blue: #c3cbd3;
--litmos-dark-soft-green: #445e74;
--litmos-normal-vivid-orange: #ffcc00;
--litmos-very-light-pale-red: #ffffff;
--litmos-very-light-pale-red: #f7f7f7;
--litmos-normal-vivid-red: #ce0000;
--litmos-very-light-pale-green: #c9dada;
--litmos-very-light-pale-red: #ffffff;
--litmos-light-pale-red: #b3b3b3;
--litmos-very-light-pale-red: #ffffff;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-vivid-blue: #0066ff;
--litmos-dark-vivid-red: #a20000;
--litmos-very-light-vivid-green: #d2eaff;
--litmos-normal-soft-yellow: #90bd63;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-soft-orange: #83bc49;
--litmos-dark-vivid-yellow: #2db200;
--litmos-normal-rich-red: #d14836;
--litmos-normal-rich-red: #dd4b39;
--litmos-very-light-pale-blue: #ededef;
--litmos-very-light-pale-red: #fefefe;
--litmos-very-dark-vivid-green: #00365a;
--litmos-dark-vivid-green: #04599a;
--litmos-very-light-pale-red: #dadada;
--litmos-very-light-pale-red: #ffffff;
--litmos-normal-soft-orange: #70a33c;
--litmos-very-light-pale-red: #cfcfcf;
--litmos-normal-soft-orange: #9cc153;
--litmos-normal-rich-red: #d95348;
--litmos-normal-vivid-orange: #d9a300;
--litmos-dark-pale-red: #606060;
--litmos-dark-pale-blue: #454547;
--litmos-normal-rich-green: #3071a9;
--litmos-normal-pale-red: #979797;
--litmos-very-light-pale-blue: #cececf;
--litmos-dark-pale-blue: #4f5052;
--litmos-normal-rich-orange: #9bce49;
--litmos-light-soft-orange: #c3d0b0;
--litmos-dark-pale-blue: #5b5c5e;
--litmos-normal-rich-orange: #99ce46;
--litmos-very-light-pale-red: #ffffff;
--litmos-normal-pale-blue: #6b6e73;
--litmos-normal-rich-orange: #a5cf49;
--litmos-very-light-vivid-orange: #fffff0;
--litmos-very-light-pale-red: #e2dede;
--litmos-normal-pale-red: #909090;
--litmos-very-light-pale-red: #f3f3f3;
--litmos-normal-soft-yellow: #4caf50;
--litmos-normal-soft-blue: #3b5998;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-vivid-green: #00aced;
--litmos-normal-vivid-blue: #3297fd;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-pale-red: #686868;
--litmos-normal-vivid-green: #0a6ed1;
--litmos-normal-vivid-green: #0a6ed1;
--litmos-normal-vivid-green: #0a6ed1;
--litmos-very-light-pale-red: #f2f2f2;
--litmos-dark-pale-blue: #4a505c;
--litmos-normal-vivid-green: #0a6ed1;
--litmos-very-light-pale-blue: #ededee;
--litmos-normal-pale-blue: #89919a;
--litmos-very-light-rich-green: #c5dcf2;
--litmos-normal-vivid-green: #0a6ed1;
--litmos-dark-pale-blue: #32363a;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-pale-blue: #6a6d70;
--litmos-light-rich-yellow: #8fdf82;
--litmos-very-light-pale-red: #d7d7d7;
--litmos-very-light-pale-red: #ffffff;
--litmos-very-light-pale-red: #ffffff;
--litmos-normal-soft-green: #3a87ad;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-pale-red: #808080;
--litmos-normal-pale-red: #7c7c7c;
--litmos-very-light-soft-orange: #e3dad1;
--litmos-very-light-soft-red: #f3efec;
--litmos-dark-vivid-orange: #6a8c00;
--litmos-normal-vivid-orange: #99cc00;
--litmos-normal-pale-blue: #708090;
--litmos-very-light-pale-red: #eeeeee;
--litmos-light-rich-yellow: #99cc66;
--litmos-very-dark-pale-red: #292929;
--litmos-normal-rich-orange: #94c947;
--litmos-very-light-soft-red: #e7c3c3;
--litmos-dark-pale-red: #353535;
--litmos-normal-vivid-green: #00a9e0;
--litmos-very-light-pale-red: #ececec;
--litmos-light-pale-red: #c5bebe;
--litmos-normal-vivid-green: #00a1e1;
--litmos-very-light-vivid-orange: #ffffcc;
--litmos-normal-rich-green: #1797c0;
--litmos-normal-pale-red: #6f6f6f;
--litmos-normal-vivid-red: #dc143c;
--litmos-dark-pale-red: #5d5d5d;
--litmos-dark-vivid-green: #005d96;
--litmos-very-light-pale-red: #ffffff;
--litmos-dark-soft-green: #455e74;
--litmos-very-light-pale-red: #ffffff;
--litmos-normal-soft-yellow: #47a447;
--litmos-very-dark-pale-red: #161616;
--litmos-normal-vivid-orange: #ffc300;
--litmos-normal-vivid-orange: #92d400;
--litmos-normal-vivid-red: #fc7022;
--litmos-very-dark-soft-orange: #382e1f;
--litmos-dark-soft-yellow: #496132;
--litmos-dark-vivid-red: #bf4900;
--litmos-normal-vivid-orange: #ffa500;
--litmos-very-light-vivid-orange: #fffaea;
--litmos-normal-pale-blue: #5a6986;
--litmos-dark-rich-orange: #64992c;
--litmos-light-rich-purple: #d95fd1;
--litmos-normal-soft-blue: #795ea5;
--litmos-light-rich-blue: #85a5e0;
--litmos-light-vivid-red: #fe96a1;
--litmos-dark-soft-red: #8c513b;
--litmos-normal-vivid-orange: #f29422;
--litmos-light-soft-yellow: #a7d78d;
--litmos-normal-soft-yellow: #3cb371;
--litmos-normal-pale-blue: #778899;
--litmos-normal-vivid-red: #cc0033;
--litmos-dark-vivid-yellow: #339900;
--litmos-very-light-vivid-orange: #fff2c1;
--litmos-very-light-vivid-red: #ffdab9;
--litmos-light-rich-green: #7eadd9;
--litmos-dark-vivid-orange: #669900;
--litmos-normal-pale-green: #669999;
--litmos-very-light-pale-red: #d3d3d3;
--litmos-very-light-vivid-green: #ddefff;
--litmos-very-light-vivid-green: #f0f8ff;
--litmos-dark-rich-yellow: #61942e;
--litmos-normal-soft-yellow: #339933;
--litmos-dark-vivid-yellow: #006600;
--litmos-normal-rich-orange: #9cce49;
--litmos-normal-vivid-blue: #227aff;
--litmos-very-light-vivid-blue: #e8f1fe;
--litmos-very-dark-pale-red: #1a1a1a;
--litmos-normal-pale-red: #8f8f8f;
--litmos-very-light-pale-red: #fbfbfb;
--litmos-light-pale-red: #b4b4b4;
--litmos-light-pale-orange: #aca899;
--litmos-dark-pale-red: #434343;
--litmos-light-pale-red: #aaaaaa;
--litmos-light-pale-blue: #b5b8c8;
--litmos-light-vivid-red: #ff7870;
--litmos-normal-rich-red: #c0272b;
--litmos-dark-pale-red: #575757;
--litmos-very-light-pale-red: #efefef;
--litmos-light-pale-red: #c8c8c8;
--litmos-light-pale-red: #b9b9b9;
--litmos-very-light-pale-blue: #d7d9df;
--litmos-light-pale-red: #bcbcbc;
--litmos-very-light-pale-red: #d8d8d8;
--litmos-normal-soft-blue: #3764a0;
--litmos-normal-pale-red: #8d8d8d;
--litmos-dark-pale-red: #444444;
--litmos-light-pale-red: #afafaf;
--litmos-dark-pale-red: #373737;
--litmos-normal-pale-red: #898989;
--litmos-very-light-pale-red: #e9e9e9;
--litmos-dark-pale-red: #393939;
--litmos-dark-pale-red: #363636;
--litmos-light-vivid-red: #ff4545;
--litmos-very-light-pale-red: #dbdbdb;
--litmos-light-soft-blue: #84a0c4;
--litmos-very-light-pale-red: #e2e2e2;
--litmos-light-pale-red: #a6a6a6;
--litmos-normal-soft-blue: #396095;
--litmos-very-light-soft-blue: #f0f2f5;
--litmos-very-light-pale-green: #f2f4f4;
--litmos-normal-rich-blue: #1b6ae2;
--litmos-very-light-pale-red: #dedede;
--litmos-very-dark-pale-red: #000000;
--litmos-very-dark-pale-red: #000000;
--litmos-normal-rich-green: #4596ce;
--litmos-dark-rich-green: #145072;
--litmos-light-rich-green: #85bae4;
}