:root {
--litmos-dark-pale-blue: rgb(99, 100, 102);
--litmos-very-light-soft-orange: rgb(245, 239, 227);
--litmos-normal-vivid-green: rgb(0, 168, 227);
--litmos-very-light-rich-green: rgb(190, 224, 238);
--litmos-light-rich-green: rgb(114, 201, 233);
--litmos-light-pale-red: rgb(191, 191, 191);
--litmos-very-light-pale-red: rgb(229, 229, 229);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-light-pale-red: rgb(171, 171, 171);
--litmos-very-light-pale-red: rgb(245, 245, 245);
--litmos-dark-pale-red: rgb(91, 91, 91);
--litmos-dark-pale-red: rgb(76, 76, 76);
--litmos-light-pale-red: rgb(201, 201, 201);
--litmos-very-dark-pale-red: rgb(42, 42, 42);
--litmos-normal-rich-orange: rgb(150, 201, 60);
--litmos-dark-pale-red: rgb(51, 51, 51);
--litmos-normal-rich-orange: rgb(139, 187, 57);
--litmos-light-vivid-orange: rgb(255, 156, 51);
--litmos-dark-vivid-green: rgb(0, 102, 153);
--litmos-light-pale-red: rgb(153, 153, 153);
--litmos-very-light-pale-red: rgb(221, 221, 221);
--litmos-very-light-pale-red: rgb(212, 212, 212);
--litmos-normal-pale-red: rgb(102, 102, 102);
--litmos-very-light-pale-red: rgb(238, 238, 238);
--litmos-dark-pale-red: rgb(85, 85, 85);
--litmos-dark-pale-blue: rgb(77, 77, 79);
--litmos-light-pale-blue: rgb(159, 161, 164);
--litmos-very-dark-pale-red: rgb(48, 48, 48);
--litmos-normal-rich-orange: rgb(165, 207, 72);
--litmos-dark-pale-red: rgb(97, 97, 97);
--litmos-normal-pale-red: rgb(128, 121, 121);
--litmos-very-light-pale-red: rgb(208, 208, 208);
--litmos-very-light-pale-red: rgb(232, 232, 232);
--litmos-normal-rich-orange: rgb(154, 201, 73);
--litmos-light-pale-red: rgb(160, 160, 160);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-dark-pale-red: rgb(51, 51, 51);
--litmos-normal-rich-green: rgb(51, 122, 183);
--litmos-dark-rich-green: rgb(43, 97, 145);
--litmos-very-light-pale-red: rgb(228, 228, 228);
--litmos-light-pale-red: rgb(192, 192, 192);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-dark-rich-green: rgb(35, 82, 124);
--litmos-normal-pale-red: rgb(119, 119, 119);
--litmos-very-light-vivid-orange: rgb(252, 248, 227);
--litmos-dark-rich-green: rgb(40, 96, 144);
--litmos-dark-soft-yellow: rgb(60, 118, 61);
--litmos-dark-soft-yellow: rgb(43, 84, 44);
--litmos-dark-soft-green: rgb(49, 112, 143);
--litmos-dark-soft-green: rgb(36, 82, 105);
--litmos-dark-soft-orange: rgb(138, 109, 59);
--litmos-dark-soft-orange: rgb(102, 81, 44);
--litmos-normal-soft-red: rgb(169, 68, 66);
--litmos-dark-soft-red: rgb(132, 53, 52);
--litmos-very-light-soft-yellow: rgb(223, 240, 216);
--litmos-light-soft-yellow: rgb(193, 226, 179);
--litmos-very-light-rich-green: rgb(217, 237, 247);
--litmos-very-light-rich-green: rgb(175, 217, 238);
--litmos-very-light-vivid-orange: rgb(247, 236, 181);
--litmos-very-light-soft-red: rgb(242, 222, 222);
--litmos-very-light-soft-red: rgb(228, 185, 185);
--litmos-normal-rich-red: rgb(199, 37, 78);
--litmos-very-light-soft-red: rgb(249, 242, 244);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(249, 249, 249);
--litmos-very-light-soft-yellow: rgb(208, 233, 198);
--litmos-very-light-rich-green: rgb(196, 227, 243);
--litmos-very-light-vivid-orange: rgb(250, 242, 204);
--litmos-very-light-soft-red: rgb(235, 204, 204);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-light-rich-green: rgb(102, 175, 233);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-light-rich-green: rgb(102, 175, 233);
--litmos-normal-soft-yellow: rgb(103, 177, 104);
--litmos-normal-soft-orange: rgb(192, 161, 107);
--litmos-light-soft-red: rgb(206, 132, 131);
--litmos-normal-pale-red: rgb(115, 115, 115);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(230, 230, 230);
--litmos-normal-pale-red: rgb(140, 140, 140);
--litmos-light-pale-red: rgb(173, 173, 173);
--litmos-normal-rich-green: rgb(46, 109, 164);
--litmos-very-dark-rich-green: rgb(18, 43, 64);
--litmos-dark-rich-green: rgb(32, 77, 116);
--litmos-normal-soft-yellow: rgb(92, 184, 92);
--litmos-normal-soft-yellow: rgb(76, 174, 76);
--litmos-normal-soft-yellow: rgb(68, 157, 68);
--litmos-dark-soft-yellow: rgb(37, 86, 37);
--litmos-dark-soft-yellow: rgb(57, 132, 57);
--litmos-light-rich-green: rgb(91, 192, 222);
--litmos-normal-rich-green: rgb(70, 184, 218);
--litmos-normal-rich-green: rgb(49, 176, 213);
--litmos-dark-rich-green: rgb(27, 109, 133);
--litmos-normal-rich-green: rgb(38, 154, 188);
--litmos-light-vivid-orange: rgb(240, 173, 78);
--litmos-normal-vivid-orange: rgb(238, 162, 54);
--litmos-normal-vivid-orange: rgb(236, 151, 31);
--litmos-dark-vivid-orange: rgb(152, 95, 13);
--litmos-normal-vivid-orange: rgb(213, 133, 18);
--litmos-normal-rich-red: rgb(217, 83, 79);
--litmos-normal-rich-red: rgb(212, 63, 58);
--litmos-normal-rich-red: rgb(201, 48, 44);
--litmos-dark-rich-red: rgb(118, 28, 25);
--litmos-normal-rich-red: rgb(172, 41, 37);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-very-light-pale-red: rgb(248, 248, 248);
--litmos-very-light-pale-red: rgb(231, 231, 231);
--litmos-dark-pale-red: rgb(94, 94, 94);
--litmos-very-dark-pale-red: rgb(8, 8, 8);
--litmos-light-pale-red: rgb(157, 157, 157);
--litmos-very-dark-pale-red: rgb(16, 16, 16);
--litmos-very-light-pale-red: rgb(213, 213, 213);
--litmos-very-light-soft-yellow: rgb(214, 233, 198);
--litmos-light-soft-yellow: rgb(201, 226, 179);
--litmos-very-light-rich-green: rgb(188, 232, 241);
--litmos-light-rich-green: rgb(166, 225, 236);
--litmos-very-light-vivid-orange: rgb(250, 235, 204);
--litmos-very-light-vivid-orange: rgb(247, 225, 181);
--litmos-very-light-soft-red: rgb(235, 204, 209);
--litmos-very-light-soft-red: rgb(228, 185, 192);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-very-light-rich-green: rgb(199, 221, 239);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(227, 227, 227);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(235, 235, 235);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-vivid-orange: rgb(240, 171, 0);
--litmos-normal-vivid-green: rgb(27, 145, 255);
--litmos-light-vivid-blue: rgb(155, 118, 255);
--litmos-normal-vivid-orange: rgb(245, 139, 0);
--litmos-normal-rich-yellow: rgb(92, 193, 34);
--litmos-normal-vivid-red: rgb(238, 57, 57);
--litmos-dark-vivid-green: rgb(4, 172, 167);
--litmos-normal-vivid-purple: rgb(243, 29, 236);
--litmos-normal-pale-green: rgb(131, 150, 168);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-soft-green: rgb(243, 246, 247);
--litmos-normal-soft-blue: rgb(68, 71, 144);
--litmos-normal-vivid-orange: rgb(216, 153, 0);
--litmos-normal-rich-red: rgb(212, 64, 58);
--litmos-light-pale-red: rgb(197, 197, 197);
--litmos-normal-pale-red: rgb(115, 115, 115);
--litmos-normal-pale-red: rgb(148, 148, 148);
--litmos-normal-pale-red: rgb(148, 148, 148);
--litmos-light-vivid-blue: rgb(74, 144, 242);
--litmos-light-vivid-blue: rgb(166, 145, 254);
--litmos-light-rich-red: rgb(236, 153, 91);
--litmos-normal-soft-yellow: rgb(114, 190, 135);
--litmos-light-vivid-red: rgb(242, 97, 97);
--litmos-light-soft-green: rgb(119, 197, 207);
--litmos-light-rich-purple: rgb(216, 114, 237);
--litmos-light-soft-blue: rgb(164, 179, 195);
--litmos-dark-vivid-orange: rgb(169, 100, 10);
--litmos-normal-vivid-orange: rgb(217, 128, 13);
--litmos-normal-rich-blue: rgb(34, 116, 226);
--litmos-normal-vivid-red: rgb(235, 0, 8);
--litmos-dark-vivid-yellow: rgb(27, 135, 13);
--litmos-dark-vivid-yellow: rgb(34, 167, 17);
--litmos-normal-pale-red: rgb(112, 112, 112);
--litmos-very-light-pale-green: rgb(215, 219, 221);
--litmos-light-pale-red: rgb(156, 156, 156);
--litmos-very-light-pale-red: rgb(241, 241, 241);
--litmos-very-light-pale-green: rgb(247, 248, 248);
--litmos-very-light-pale-red: rgb(204, 204, 204);
--litmos-light-vivid-orange: rgb(252, 190, 73);
--litmos-normal-rich-yellow: rgb(65, 210, 57);
--litmos-light-vivid-red: rgb(248, 69, 69);
--litmos-very-dark-pale-red: rgb(9, 9, 9);
--litmos-normal-vivid-yellow: rgb(12, 207, 107);
--litmos-dark-pale-red: rgb(62, 60, 60);
--litmos-very-light-pale-red: rgb(246, 246, 246);
--litmos-dark-pale-green: rgb(83, 104, 120);
--litmos-very-light-pale-red: rgb(211, 211, 211);
--litmos-light-vivid-red: rgb(250, 62, 62);
--litmos-dark-pale-red: rgb(78, 78, 78);
--litmos-dark-vivid-yellow: rgb(86, 160, 14);
--litmos-normal-vivid-red: rgb(253, 46, 6);
--litmos-dark-pale-red: rgb(61, 61, 61);
--litmos-dark-vivid-purple: rgb(151, 10, 130);
--litmos-normal-rich-yellow: rgb(79, 184, 28);
--litmos-normal-vivid-green: rgb(0, 143, 211);
--litmos-normal-vivid-red: rgb(227, 86, 0);
--litmos-normal-pale-red: rgb(117, 117, 117);
--litmos-very-light-soft-blue: rgb(242, 240, 245);
--litmos-very-light-pale-red: rgb(223, 223, 223);
--litmos-normal-vivid-blue: rgb(25, 128, 236);
--litmos-very-dark-pale-red: rgb(1, 1, 1);
--litmos-normal-vivid-green: rgb(0, 151, 207);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-pale-red: rgb(220, 220, 220);
--litmos-normal-vivid-red: rgb(204, 0, 0);
--litmos-normal-vivid-orange: rgb(255, 210, 48);
--litmos-normal-vivid-orange: rgb(216, 172, 18);
--litmos-normal-rich-orange: rgb(227, 186, 36);
--litmos-light-pale-red: rgb(167, 167, 167);
--litmos-light-pale-red: rgb(183, 183, 183);
--litmos-light-rich-orange: rgb(215, 180, 114);
--litmos-normal-soft-orange: rgb(170, 138, 76);
--litmos-normal-soft-orange: rgb(183, 153, 75);
--litmos-very-light-pale-green: rgb(248, 249, 249);
--litmos-normal-vivid-yellow: rgb(0, 210, 76);
--litmos-very-light-soft-green: rgb(212, 223, 227);
--litmos-very-light-pale-red: rgb(224, 224, 224);
--litmos-very-light-rich-green: rgb(181, 208, 232);
--litmos-normal-rich-green: rgb(66, 139, 202);
--litmos-light-pale-red: rgb(187, 187, 187);
--litmos-normal-vivid-orange: rgb(239, 171, 0);
--litmos-normal-pale-red: rgb(118, 118, 118);
--litmos-normal-pale-red: rgb(114, 114, 114);
--litmos-dark-vivid-yellow: rgb(6, 136, 69);
--litmos-dark-vivid-green: rgb(0, 118, 202);
--litmos-light-rich-green: rgb(91, 198, 232);
--litmos-very-light-pale-purple: rgb(229, 228, 229);
--litmos-light-vivid-red: rgb(250, 71, 71);
--litmos-very-dark-pale-blue: rgb(19, 21, 23);
--litmos-very-dark-pale-red: rgb(28, 28, 28);
--litmos-dark-vivid-yellow: rgb(8, 135, 70);
--litmos-dark-vivid-yellow: rgb(9, 159, 82);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-light-pale-red: rgb(202, 202, 202);
--litmos-dark-vivid-yellow: rgb(11, 183, 95);
--litmos-very-dark-vivid-yellow: rgb(4, 62, 32);
--litmos-dark-vivid-yellow: rgb(7, 125, 65);
--litmos-dark-vivid-yellow: rgb(0, 185, 66);
--litmos-very-dark-vivid-yellow: rgb(0, 57, 20);
--litmos-dark-vivid-yellow: rgb(0, 159, 57);
--litmos-dark-vivid-yellow: rgb(0, 123, 44);
--litmos-normal-pale-blue: rgb(110, 110, 140);
--litmos-normal-pale-blue: rgb(124, 124, 152);
--litmos-dark-pale-blue: rgb(54, 54, 69);
--litmos-normal-pale-blue: rgb(99, 99, 126);
--litmos-dark-pale-blue: rgb(83, 83, 106);
--litmos-normal-vivid-orange: rgb(255, 167, 0);
--litmos-normal-vivid-orange: rgb(255, 176, 25);
--litmos-dark-vivid-orange: rgb(127, 83, 0);
--litmos-normal-vivid-orange: rgb(229, 150, 0);
--litmos-dark-vivid-orange: rgb(193, 127, 0);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-dark-vivid-yellow: rgb(10, 176, 91);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-light-vivid-yellow: rgb(173, 250, 211);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-rich-blue: rgb(68, 125, 232);
--litmos-light-vivid-red: rgb(250, 71, 71);
--litmos-normal-vivid-yellow: rgb(0, 210, 75);
--litmos-very-light-pale-blue: rgb(209, 213, 219);
--litmos-normal-rich-blue: rgb(79, 70, 229);
--litmos-very-light-pale-red: rgb(240, 240, 240);
--litmos-very-light-vivid-red: rgb(255, 204, 204);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-vivid-red: rgb(255, 51, 0);
--litmos-light-vivid-red: rgb(255, 134, 53);
--litmos-dark-vivid-yellow: rgb(0, 153, 0);
--litmos-dark-vivid-yellow: rgb(0, 193, 0);
--litmos-very-light-vivid-orange: rgb(255, 255, 153);
--litmos-very-light-vivid-blue: rgb(153, 204, 255);
--litmos-normal-soft-red: rgb(188, 101, 128);
--litmos-normal-soft-blue: rgb(51, 102, 153);
--litmos-normal-vivid-red: rgb(255, 0, 0);
--litmos-light-pale-blue: rgb(195, 203, 211);
--litmos-dark-soft-green: rgb(68, 94, 116);
--litmos-normal-vivid-orange: rgb(255, 204, 0);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-very-light-pale-red: rgb(247, 247, 247);
--litmos-normal-vivid-red: rgb(206, 0, 0);
--litmos-very-light-pale-green: rgb(201, 218, 218);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-light-pale-red: rgb(179, 179, 179);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-vivid-blue: rgb(0, 102, 255);
--litmos-dark-vivid-red: rgb(162, 0, 0);
--litmos-very-light-vivid-green: rgb(210, 234, 255);
--litmos-normal-soft-yellow: rgb(144, 189, 99);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-soft-orange: rgb(131, 188, 73);
--litmos-dark-vivid-yellow: rgb(45, 178, 0);
--litmos-normal-rich-red: rgb(209, 72, 54);
--litmos-normal-rich-red: rgb(221, 75, 57);
--litmos-very-light-pale-blue: rgb(237, 237, 239);
--litmos-very-light-pale-red: rgb(254, 254, 254);
--litmos-very-dark-vivid-green: rgb(0, 54, 90);
--litmos-dark-vivid-green: rgb(4, 89, 154);
--litmos-very-light-pale-red: rgb(218, 218, 218);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-normal-soft-orange: rgb(112, 163, 60);
--litmos-very-light-pale-red: rgb(207, 207, 207);
--litmos-normal-soft-orange: rgb(156, 193, 83);
--litmos-normal-rich-red: rgb(217, 83, 72);
--litmos-normal-vivid-orange: rgb(217, 163, 0);
--litmos-dark-pale-red: rgb(96, 96, 96);
--litmos-dark-pale-blue: rgb(69, 69, 71);
--litmos-normal-rich-green: rgb(48, 113, 169);
--litmos-normal-pale-red: rgb(151, 151, 151);
--litmos-very-light-pale-blue: rgb(206, 206, 207);
--litmos-dark-pale-blue: rgb(79, 80, 82);
--litmos-normal-rich-orange: rgb(155, 206, 73);
--litmos-light-soft-orange: rgb(195, 208, 176);
--litmos-dark-pale-blue: rgb(91, 92, 94);
--litmos-normal-rich-orange: rgb(153, 206, 70);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-normal-pale-blue: rgb(107, 110, 115);
--litmos-normal-rich-orange: rgb(165, 207, 73);
--litmos-very-light-vivid-orange: rgb(255, 255, 240);
--litmos-very-light-pale-red: rgb(226, 222, 222);
--litmos-normal-pale-red: rgb(144, 144, 144);
--litmos-very-light-pale-red: rgb(243, 243, 243);
--litmos-normal-soft-yellow: rgb(76, 175, 80);
--litmos-normal-soft-blue: rgb(59, 89, 152);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-vivid-green: rgb(0, 172, 237);
--litmos-normal-vivid-blue: rgb(50, 151, 253);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-pale-red: rgb(104, 104, 104);
--litmos-normal-vivid-green: rgb(10, 110, 209);
--litmos-normal-vivid-green: rgb(10, 110, 209);
--litmos-normal-vivid-green: rgb(10, 110, 209);
--litmos-very-light-pale-red: rgb(242, 242, 242);
--litmos-dark-pale-blue: rgb(74, 80, 92);
--litmos-normal-vivid-green: rgb(10, 110, 209);
--litmos-very-light-pale-blue: rgb(237, 237, 238);
--litmos-normal-pale-blue: rgb(137, 145, 154);
--litmos-very-light-rich-green: rgb(197, 220, 242);
--litmos-normal-vivid-green: rgb(10, 110, 209);
--litmos-dark-pale-blue: rgb(50, 54, 58);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-pale-blue: rgb(106, 109, 112);
--litmos-light-rich-yellow: rgb(143, 223, 130);
--litmos-very-light-pale-red: rgb(215, 215, 215);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-normal-soft-green: rgb(58, 135, 173);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-pale-red: rgb(128, 128, 128);
--litmos-normal-pale-red: rgb(124, 124, 124);
--litmos-very-light-soft-orange: rgb(227, 218, 209);
--litmos-very-light-soft-red: rgb(243, 239, 236);
--litmos-dark-vivid-orange: rgb(106, 140, 0);
--litmos-normal-vivid-orange: rgb(153, 204, 0);
--litmos-normal-pale-blue: rgb(112, 128, 144);
--litmos-very-light-pale-red: rgb(238, 238, 238);
--litmos-light-rich-yellow: rgb(153, 204, 102);
--litmos-very-dark-pale-red: rgb(41, 41, 41);
--litmos-normal-rich-orange: rgb(148, 201, 71);
--litmos-very-light-soft-red: rgb(231, 195, 195);
--litmos-dark-pale-red: rgb(53, 53, 53);
--litmos-normal-vivid-green: rgb(0, 169, 224);
--litmos-very-light-pale-red: rgb(236, 236, 236);
--litmos-light-pale-red: rgb(197, 190, 190);
--litmos-normal-vivid-green: rgb(0, 161, 225);
--litmos-very-light-vivid-orange: rgb(255, 255, 204);
--litmos-normal-rich-green: rgb(23, 151, 192);
--litmos-normal-pale-red: rgb(111, 111, 111);
--litmos-normal-vivid-red: rgb(220, 20, 60);
--litmos-dark-pale-red: rgb(93, 93, 93);
--litmos-dark-vivid-green: rgb(0, 93, 150);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-dark-soft-green: rgb(69, 94, 116);
--litmos-very-light-pale-red: rgb(255, 255, 255);
--litmos-normal-soft-yellow: rgb(71, 164, 71);
--litmos-very-dark-pale-red: rgb(22, 22, 22);
--litmos-normal-vivid-orange: rgb(255, 195, 0);
--litmos-normal-vivid-orange: rgb(146, 212, 0);
--litmos-normal-vivid-red: rgb(252, 112, 34);
--litmos-very-dark-soft-orange: rgb(56, 46, 31);
--litmos-dark-soft-yellow: rgb(73, 97, 50);
--litmos-dark-vivid-red: rgb(191, 73, 0);
--litmos-normal-vivid-orange: rgb(255, 165, 0);
--litmos-very-light-vivid-orange: rgb(255, 250, 234);
--litmos-normal-pale-blue: rgb(90, 105, 134);
--litmos-dark-rich-orange: rgb(100, 153, 44);
--litmos-light-rich-purple: rgb(217, 95, 209);
--litmos-normal-soft-blue: rgb(121, 94, 165);
--litmos-light-rich-blue: rgb(133, 165, 224);
--litmos-light-vivid-red: rgb(254, 150, 161);
--litmos-dark-soft-red: rgb(140, 81, 59);
--litmos-normal-vivid-orange: rgb(242, 148, 34);
--litmos-light-soft-yellow: rgb(167, 215, 141);
--litmos-normal-soft-yellow: rgb(60, 179, 113);
--litmos-normal-pale-blue: rgb(119, 136, 153);
--litmos-normal-vivid-red: rgb(204, 0, 51);
--litmos-dark-vivid-yellow: rgb(51, 153, 0);
--litmos-very-light-vivid-orange: rgb(255, 242, 193);
--litmos-very-light-vivid-red: rgb(255, 218, 185);
--litmos-light-rich-green: rgb(126, 173, 217);
--litmos-dark-vivid-orange: rgb(102, 153, 0);
--litmos-normal-pale-green: rgb(102, 153, 153);
--litmos-very-light-pale-red: rgb(211, 211, 211);
--litmos-very-light-vivid-green: rgb(221, 239, 255);
--litmos-very-light-vivid-green: rgb(240, 248, 255);
--litmos-dark-rich-yellow: rgb(97, 148, 46);
--litmos-normal-soft-yellow: rgb(51, 153, 51);
--litmos-dark-vivid-yellow: rgb(0, 102, 0);
--litmos-normal-rich-orange: rgb(156, 206, 73);
--litmos-normal-vivid-blue: rgb(34, 122, 255);
--litmos-very-light-vivid-blue: rgb(232, 241, 254);
--litmos-very-dark-pale-red: rgb(26, 26, 26);
--litmos-normal-pale-red: rgb(143, 143, 143);
--litmos-very-light-pale-red: rgb(251, 251, 251);
--litmos-light-pale-red: rgb(180, 180, 180);
--litmos-light-pale-orange: rgb(172, 168, 153);
--litmos-dark-pale-red: rgb(67, 67, 67);
--litmos-light-pale-red: rgb(170, 170, 170);
--litmos-light-pale-blue: rgb(181, 184, 200);
--litmos-light-vivid-red: rgb(255, 120, 112);
--litmos-normal-rich-red: rgb(192, 39, 43);
--litmos-dark-pale-red: rgb(87, 87, 87);
--litmos-very-light-pale-red: rgb(239, 239, 239);
--litmos-light-pale-red: rgb(200, 200, 200);
--litmos-light-pale-red: rgb(185, 185, 185);
--litmos-very-light-pale-blue: rgb(215, 217, 223);
--litmos-light-pale-red: rgb(188, 188, 188);
--litmos-very-light-pale-red: rgb(216, 216, 216);
--litmos-normal-soft-blue: rgb(55, 100, 160);
--litmos-normal-pale-red: rgb(141, 141, 141);
--litmos-dark-pale-red: rgb(68, 68, 68);
--litmos-light-pale-red: rgb(175, 175, 175);
--litmos-dark-pale-red: rgb(55, 55, 55);
--litmos-normal-pale-red: rgb(137, 137, 137);
--litmos-very-light-pale-red: rgb(233, 233, 233);
--litmos-dark-pale-red: rgb(57, 57, 57);
--litmos-dark-pale-red: rgb(54, 54, 54);
--litmos-light-vivid-red: rgb(255, 69, 69);
--litmos-very-light-pale-red: rgb(219, 219, 219);
--litmos-light-soft-blue: rgb(132, 160, 196);
--litmos-very-light-pale-red: rgb(226, 226, 226);
--litmos-light-pale-red: rgb(166, 166, 166);
--litmos-normal-soft-blue: rgb(57, 96, 149);
--litmos-very-light-soft-blue: rgb(240, 242, 245);
--litmos-very-light-pale-green: rgb(242, 244, 244);
--litmos-normal-rich-blue: rgb(27, 106, 226);
--litmos-very-light-pale-red: rgb(222, 222, 222);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-very-dark-pale-red: rgb(0, 0, 0);
--litmos-normal-rich-green: rgb(69, 150, 206);
--litmos-dark-rich-green: rgb(20, 80, 114);
--litmos-light-rich-green: rgb(133, 186, 228);
}