:root { 
  --litmos-soft-lavender-color: #ACA8CD;
  --previous-color-0: #edf0ff;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-1: #eceeef;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-2: #ffdad6;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-3: #ba1a1a;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-4: #d9e2ff;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-5: #761ef3;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-6: #f8fafa;
  --litmos-soft-lavender-color: #ACA8CD;
  --previous-color-7: #e1e0ff;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-8: rgba(115, 115, 115, 0.15);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-9: white;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-10: black;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-11: rgba(0, 0, 0, 0.176);
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-12: #000;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-13: green;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-14: gray;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-15: #000000;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-16: rgba(0, 0, 0, 0.07);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-17: rgba(0, 0, 0, 0.12);
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-18: #010101;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-19: rgba(0, 0, 0, 0.075);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-20: rgba(0, 0, 0, 0.2);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-21: rgba(0,0,0,.2);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-22: rgba(0, 0, 0, 0.25);
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-23: orange;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-24: red;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-25: rgba(0, 0, 0, 0.15);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-26: rgba(0, 0, 0, .1);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-27: rgba(0, 0, 0, .15);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-28: rgba(0, 0, 0, .3);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-29: rgba(0, 0, 0, .2);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-30: rgba(0, 0, 0, .7);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-31: rgba(0, 0, 0, 0.1);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-32: rgba(0,0,0,.15);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-33: rgba(0,0,0,0.5);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-34: rgba(0, 0, 0, 0.05);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-35: rgba(0,0,0,0.4);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-36: rgba(0,0,0,0.2);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-37: rgba(0,0,0,0.3);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-38: rgba(0,0,0,.07);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-39: rgba(0, 0, 0, 0.3);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-40: rgba(0, 0, 0, 0.6);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-41: rgba(0, 0, 0, 0);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-42: rgba(0, 0, 0, 0.5);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-43: rgba(0, 0, 0, 0.125);
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-44: blue;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-45: rgba(0, 0, 0, 0.40);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-46: rgba(0, 0, 0, .25);
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-47: #090909;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-48: #101010;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-49: #121212;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-50: #111;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-51: #161616;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-52: #1a1a1a;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-53: #1c1c1c;
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-54: #222;
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-55: #262626;
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-56: #2a2a2a;
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-57: #292929;
  --litmos-typography-body-color: #32363A;
  --previous-color-58: #303030;
  --litmos-typography-body-color: #32363A;
  --previous-color-59: rgba(51,51,51,0.7);
  --litmos-typography-body-color: #32363A;
  --previous-color-60: #333333;
  --litmos-typography-body-color: #32363A;
  --previous-color-61: #333;
  --litmos-typography-body-color: #32363A;
  --previous-color-62: #353535;
  --litmos-typography-body-color: #32363A;
  --previous-color-63: #363636;
  --litmos-typography-body-color: #32363A;
  --previous-color-64: #373737;
  --litmos-typography-body-color: #32363A;
  --previous-color-65: #393939;
  --litmos-typography-body-color: #32363A;
  --previous-color-66: #3d3d3d;
  --litmos-typography-body-color: #32363A;
  --previous-color-67: rgb(63, 63, 63);
  --litmos-typography-body-color: #32363A;
  --previous-color-68: #434343;
  --litmos-typography-body-color: #32363A;
  --previous-color-69: #444;
  --litmos-typography-body-color: #32363A;
  --previous-color-70: #444444;
  --litmos-typography-body-color: #32363A;
  --previous-color-71: #4d4d4d;
  --litmos-typography-body-color: #32363A;
  --previous-color-72: #4c4c4c;
  --litmos-typography-body-color: #32363A;
  --previous-color-73: rgb(77, 77, 77);
  --litmos-typography-body-color: #32363A;
  --previous-color-74: #4e4e4e;
  --litmos-typography-body-color: #32363A;
  --previous-color-75: #555555;
  --litmos-typography-body-color: #32363A;
  --previous-color-76: #555;
  --litmos-typography-body-color: #32363A;
  --previous-color-77: #575757;
  --litmos-typography-body-color: #32363A;
  --previous-color-78: #5b5b5b;
  --litmos-typography-body-color: #32363A;
  --previous-color-79: #5d5d5d;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-80: #616161;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-81: #606060;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-82: #666666;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-83: #666;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-84: #686868;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-85: #707070;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-86: #6f6f6f;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-87: #737373;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-88: #727272;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-89: #757575;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-90: #767676;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-91: #777;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-92: #7c7c7c;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-93: #808080;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-94: #888;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-95: #898989;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-96: #8c8c8c;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-97: #8d8d8d;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-98: #909090;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-99: #8f8f8f;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-100: #949494;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-101: rgba(148, 148, 148, 0.15);
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-102: #979797;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-103: #999999;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-104: #999;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-105: #9c9c9c;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-106: #a0a0a0;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-107: #a7a7a7;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-108: #a6a6a6;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-109: #ababab;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-110: #aaa;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-111: #aaaaaa;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-112: #adadad;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-113: rgb(176, 176, 176);
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-114: #afafaf;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-115: #b3b3b3;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-116: #b4b4b4;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-117: #b7b7b7;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-118: #bbb;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-119: #bbbbbb;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-120: rgb(185, 185, 185);
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-121: #b9b9b9;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-122: #bcbcbc;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-123: #bfbfbf;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-124: #c5c5c5;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-125: #c8c8c8;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-126: #c9c9c9;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-127: #cacaca;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-128: #ccc;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-129: #cccccc;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-130: #cdcdcd;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-131: #cfcfcf;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-132: #d0d0d0;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-133: #d4d4d4;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-134: rgba(211, 211, 211, 0.5);
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-135: #d3d3d3;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-136: #d7d7d7;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-137: #d9d9d9;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-138: #dadada;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-139: #d8d8d8;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-140: #dcdcdc;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-141: #dbdbdb;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-142: #ddd;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-143: #dddddd;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-144: #dfdfdf;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-145: #dedede;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-146: #e0e0e0;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-147: #e4e4e4;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-148: #e2e2e2;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-149: #e5e5e5;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-150: #e6e6e6;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-151: #e8e8e8;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-152: #e7e7e7;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-153: #e9e9e9;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-154: #eaeaea;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-155: #ebebeb;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-156: #ededed;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-157: #eeeeee;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-158: #eee;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-159: rgba(238, 238, 238, 0.3);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-160: #ececec;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-161: #f0f0f0;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-162: #efefef;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-163: #f1f1f1;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-164: #f2f2f2;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-165: #f3f3f3;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-166: rgba(242,242,242,.5);
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-167: #f5f5f5;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-168: #f6f6f6;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-169: #f4f4f4;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-170: #f7f7f7;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-171: #f8f8f8;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-172: rgba(247, 247, 247, .85);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-173: #fafafa;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-174: #fbfbfb;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-175: #f9f9f9;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-176: #ffffff;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-177: #fff;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-178: rgba(255, 255, 255, 0.5);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-179: rgba(255, 255, 255, .1);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-180: rgba(255, 255, 255, .85);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-181: rgba(255,255,255,0.55);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-182: rgba(255,255,255,0.2);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-183: #fefefe;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-184: rgba(255,255,255,1);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-185: rgba(255, 255, 255, 0.4);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-186: rgba(255, 255, 255, 0.75);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-187: rgba(255, 255, 255, 0.2);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-188: rgba(255, 255, 255, 0.8);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-189: rgba(255, 255, 255, 0.85);
  --litmos-typography-body-color: #32363A;
  --previous-color-190: #3e3c3c;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-191: #807979;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-192: #c5bebe;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-193: #e2dede;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-194: #e7c3c3;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-195: #f2dede;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-196: #d04343;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-197: #d62929;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-198: #ee3939;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-199: rgba(238, 57, 57, 0.1);
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-200: #f26161;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-201: #aa0808;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-202: #f84545;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-203: #fa3e3e;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-204: #fa4747;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-205: rgba(250, 71, 71, 0.1);
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-206: #a40000;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-207: #a20000;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-208: #bb0000;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-209: #b00;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-210: #cc0000;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-211: #ce0000;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-212: #ff0000;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-213: #ff4545;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-214: #ffcccc;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-215: #ffebeb;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-216: #fee;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-217: #a94442;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-218: #c9302c;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-219: #d43f3a;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-220: #d4403a;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-221: #d9534f;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-222: #ac2925;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-223: #ff7870;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-224: #d95348;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-225: #d14836;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-226: #dd4b39;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-227: #fd2e06;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-228: #ff3300;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-229: #c30;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-230: #8c513b;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-231: #f62;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-232: #fc7022;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-233: #a93e00;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-234: #bf4900;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-235: #e35600;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-236: #ff8635;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-237: #f3efec;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-238: #952;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-239: #ec995b;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-240: #fef7f1;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-241: #e9730c;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-242: #ffdab9;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-243: #e3dad1;
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-244: #432;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-245: #ff9c33;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-246: #f29422;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-247: #d17f15;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-248: #a9640a;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-249: #d9800d;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-250: #f5a742;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-251: #f58b00;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-252: rgba(245, 139, 0, 0.1);
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-253: #f0ad4e;
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-254: #382e1f;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-255: #d7b472;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-256: rgb(247, 164, 14);
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-257: #fcbe49;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-258: #7f5300;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-259: #c17f00;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-260: #e59600;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-261: #ffa700;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-262: #ffa500;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-263: #ffb019;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-264: #aa8a4c;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-265: #f5efe3;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-266: #b7994b;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-267: #a87700;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-268: #d89900;
  --litmos-new-gold-color: #FFCC00;
  --previous-color-269: #f0ab00;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-270: rgba(240, 171, 0, 0.1);
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-271: #efab00;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-272: #d9a300;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-273: #fc3;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-274: #ffc300;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-275: #fffaea;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-276: #aca899;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-277: #e3ba24;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-278: #d8ac12;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-279: #ffd230;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-280: #fff2c1;
  --litmos-new-gold-color: #FFCC00;
  --previous-color-281: #ffcc00;
  --litmos-new-gold-color: #FFCC00;
  --previous-color-282: #fd4;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-283: #fcf8e3;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-284: #fff8d6;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-285: #fe7;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-286: #ffff99;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-287: #ffffcc;
  --litmos-new-navajowhite-color: #FFE4A1;
  --previous-color-288: #ffc;
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-289: #fffff0;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-290: #f5fae5;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-291: #7ca10c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-292: #6a8c00;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-293: #99cc00;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-294: #a5cf48;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-295: #a5cf49;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-296: #92d400;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-297: #9cc153;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-298: #669900;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-299: #8bbb39;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-300: #9ac949;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-301: #96c93c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-302: #99ce46;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-303: #9bce49;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-304: #9cce49;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-305: #c3d0b0;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-306: #94c947;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-307: #64992c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-308: #90bd63;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-309: #70a33c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-310: #83bc49;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-311: #99cc66;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-312: #61942e;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-313: #56a00e;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-314: #496132;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-315: #5dc122;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-316: rgba(92, 193, 34, 0.1);
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-317: #a7d78d;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-318: #4fb81c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-319: #339900;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-320: #2db200;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-321: #8fdf82;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-322: #1b870d;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-323: #22a711;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-324: #41d239;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-325: rgb(131, 189, 131);
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-326: #4cae4c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-327: #5cb85c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-328: #398439;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-329: #47a447;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-330: rgb(148,215,148);
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-331: #339933;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-332: #006600;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-333: #009900;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-334: #00c100;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-335: #4caf50;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-336: #72be87;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-337: #256f3a;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-338: #003914;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-339: #007b2c;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-340: #00b942;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-341: #00d24b;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-342: rgba(0, 210, 75, 0.1);
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-343: #00822f;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-344: #009f39;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-345: #00d24c;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-346: #f1fdf6;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-347: #3cb371;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-348: #0a7e3e;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-349: #043e20;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-350: #077d41;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-351: #088746;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-352: #099f52;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-353: #0ab05b;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-354: #0bb75f;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-355: #0ccf6b;
  --litmos-typography-success-text-color: #4D6A65;
  --previous-color-356: #068845;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-357: #adfad3;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-358: #dafdf5;
  --litmos-new-gainsboro-color: #D1E7DD;
  --previous-color-359: #04aca7;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-360: rgba(4, 172, 167, 0.1);
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-361: #f7f8f8;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-362: #f2f4f4;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-363: #f8f9f9;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-364: #c9dada;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-365: #669999;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-366: #0cd7ed;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-367: #77c5cf;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-368: #046c7a;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-369: #bce8f1;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-370: #5bc0de;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-371: #5bc6e8;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-372: #f3f6f7;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-373: #1797c0;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-374: #00a9e0;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-375: #d4dfe3;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-376: #72c9e9;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-377: #0097cf;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-378: #00a8e3;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-379: #00aced;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-380: #00a1e1;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-381: #bee0ee;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-382: #008fd3;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-383: #d7dbdd;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-384: #edeff0;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-385: #3a87ad;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-386: #006699;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-387: #069;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-388: #ebf8ff;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-389: #145072;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-390: #005d96;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-391: #009af9;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-392: #00365a;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-393: #4596ce;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-394: #0076ca;
  --litmos-typography-body-color: #32363A;
  --previous-color-395: #536878;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-396: #5c819d;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-397: #04599a;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-398: #85bae4;
  --litmos-typography-body-color: #32363A;
  --previous-color-399: #455e74;
  --litmos-typography-body-color: #32363A;
  --previous-color-400: #445e74;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-401: #b5d0e8;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-402: #2b6191;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-403: #3071a9;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-404: #337ab7;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-405: #428bca;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-406: #d2eaff;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-407: #ddefff;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-408: #f0f8ff;
  --litmos-typography-body-color: #32363A;
  --previous-color-409: #8396a8;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-410: rgba(131, 150, 168, 0.1);
  --litmos-layout-dark-panel-bg-color: #2C2C2C;
  --previous-color-411: #213b54;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-412: #7eadd9;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-413: #c5dcf2;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-414: #1b90ff;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-415: rgba(27, 145, 255, 0.1);
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-416: #6a6d70;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-417: rgba(106,109,112,.4);
  --litmos-typography-body-color: #32363A;
  --previous-color-418: #74777a;
  --litmos-typography-body-color: #32363A;
  --previous-color-419: #32363a;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-420: rgba(50,54,58,.08);
  --litmos-typography-body-color: #32363A;
  --previous-color-421: #131517;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-422: #708090;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-423: #778899;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-424: #c3cbd3;
  --litmos-typography-body-color: #32363A;
  --previous-color-425: #475e75;
  --litmos-typography-body-color: #32363A;
  --previous-color-426: #354a5f;
  --litmos-typography-body-color: #32363A;
  --previous-color-427: #336699;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-428: #2b78c5;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-429: #1973cc;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-430: #0854a0;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-431: #085caf;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-432: #0a6ed1;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-433: #0a6dd1;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-434: rgba(10, 110, 209, 0.07);
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-435: rgba(10, 110, 209, 0.1);
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-436: rgba(10, 110, 209, 0.4);
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-437: rgba(10,110,209,.07);
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-438: rgba(10,110,209,.6);
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-439: #7bbaf9;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-440: #075cb0;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-441: #0254a7;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-442: rgba(50, 151, 253, 0.75);
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-443: #99ccff;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-444: #d1e8ff;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-445: #f5faff;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-446: #a4b3c3;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-447: #7b9abc;
  --litmos-layout-dark-page-bg-color: #1B1B1B;
  --previous-color-448: #1b3046;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-449: #1980ec;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-450: #89919a;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-451: rgba(137,145,154,.4);
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-452: #51555a;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-453: #0059c8;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-454: #e4e7eb;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-455: #1f252d;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-456: #84a0c4;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-457: #3764a0;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-458: #2274e2;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-459: #396095;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-460: #4a90f2;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-461: #e8f1fe;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-462: #0057d2;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-463: #9fa1a4;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-464: #d1d5db;
  --litmos-ui-highlight-color: #EAF4FF;
  --previous-color-465: #f0f2f5;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-466: #1b6ae2;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-467: #0066ff;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-468: #227aff;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-469: #6b6e73;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-470: rgb(105, 129, 174);
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-471: #85a5e0;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-472: #447de8;
  --litmos-typography-body-color: #32363A;
  --previous-color-473: #636466;
  --litmos-typography-body-color: #32363A;
  --previous-color-474: #4f5052;
  --litmos-typography-body-color: #32363A;
  --previous-color-475: #5b5c5e;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-476: rgba(74, 80, 92, 0.3);
  --litmos-typography-white-text-color: #FBFBFB;
  --previous-color-477: #f3f4f6;
  --litmos-typography-header-color: #4D4D4D;
  --previous-color-478: #5a6986;
  --litmos-soft-blue-color: #A8B1E8;
  --previous-color-479: #3b5998;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-480: #d7d9df;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-481: #b5b8c8;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-482: #444790;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-483: #6367de;
  --litmos-typography-body-color: #32363A;
  --previous-color-484: #454547;
  --litmos-typography-body-color: #32363A;
  --previous-color-485: #4d4d4f;
  --litmos-layout-edge-color: #C1C7CE;
  --previous-color-486: #cececf;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-487: #ededee;
  --litmos-layout-light-devider-line-color: #EEEEEE;
  --previous-color-488: #ededef;
  --litmos-typography-body-color: #32363A;
  --previous-color-489: #363645;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-490: #53536a;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-491: #63637e;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-492: #6e6e8c;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-493: #7c7c98;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-494: #4f46e5;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-495: #a691fe;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-496: #5d36ff;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-497: #3c0ad1;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-498: #9b76ff;
  --litmos-soft-lavender-color: #ACA8CD;
  --previous-color-499: rgba(155, 118, 255, 0.1);
  --litmos-soft-lavender-color: #ACA8CD;
  --previous-color-500: #f1ecff;
  --litmos-new-dimgray-color: #57687A;
  --previous-color-501: #795ea5;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-502: #8233ff;
  --litmos-soft-lavender-color: #ACA8CD;
  --previous-color-503: #f2f0f5;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-504: #925ace;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-505: #984bd2;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-506: #d872ed;
  --litmos-new-plum-color: #CCA0FC;
  --previous-color-507: #a100c2;
  --litmos-layout-tile-outline-color: #CDCDCD;
  --previous-color-508: rgb(116, 113, 116);
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-509: #e5e4e5;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-510: #f31ded;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-511: rgba(243, 29, 236, 0.1);
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-512: #d95fd1;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-513: #970a82;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-514: #c0399f;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-515: #fff0fa;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-516: #ffeaf4;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-517: #db1f77;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-518: #bc6580;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-519: #cc0033;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-520: #dc143c;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-521: #fe96a1;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-522: #c0272b;
  --litmos-typography-error-text-bg-color: #F8D7DA;
  --previous-color-523: #eb0008;
 }