:root { 
--color-0-279: #000; /* 279 */
--color-1-12: rgba(0,0,0,0.05); /* 12 */
--color-2-2: rgba(0,0,0,0.25); /* 2 */
--color-3-13: rgba(0,0,0,0.15); /* 13 */
--color-4-10: rgba(0,0,0,0.45); /* 10 */
--color-5-20: rgba(0,0,0,.1); /* 20 */
--color-6-7: rgba(0,0,0,.5); /* 7 */
--color-7-22: rgba(0,0,0,.4); /* 22 */
--color-8-242: white; /* 242 */
--color-9-29: black; /* 29 */
--color-10-2: rgba(0, 0, 0, 0.176); /* 2 */
--color-11-15: green; /* 15 */
--color-12-58: gray; /* 58 */
--color-13-39: red; /* 39 */
--color-14-6: rgba(0, 0, 0, 0.08); /* 6 */
--color-15-8: rgba(0, 0, 0, 0.075); /* 8 */
--color-16-1: rgba(0, 0, 0, 0.04); /* 1 */
--color-17-36: #000000; /* 36 */
--color-18-1: yellow; /* 1 */
--color-19-5: blue; /* 5 */
--color-20-20: rgba(0,0,0,.2); /* 20 */
--color-21-1: rgba(0, 0, 0, 0.07); /* 1 */
--color-22-1: rgba(0, 0, 0, 0.12); /* 1 */
--color-23-18: #010101; /* 18 */
--color-24-7: rgba(0, 0, 0, 0.2); /* 7 */
--color-25-51: rgba(0, 0, 0, 0.25); /* 51 */
--color-26-25: orange; /* 25 */
--color-27-6: rgba(0, 0, 0, 0.15); /* 6 */
--color-28-7: rgba(0, 0, 0, .1); /* 7 */
--color-29-2: rgba(0, 0, 0, .15); /* 2 */
--color-30-4: rgba(0, 0, 0, .3); /* 4 */
--color-31-3: rgba(0, 0, 0, .2); /* 3 */
--color-32-1: rgba(0, 0, 0, .7); /* 1 */
--color-33-24: rgba(0, 0, 0, 0.1); /* 24 */
--color-34-7: rgba(0, 0, 0, 0.5); /* 7 */
--color-35-6: rgba(0,0,0,0.2); /* 6 */
--color-36-2: rgba(0,0,0,.75); /* 2 */
--color-37-4: rgba(0,0,0,0.6); /* 4 */
--color-38-6: rgba(0,0,0,.15); /* 6 */
--color-39-18: rgba(0,0,0,0.5); /* 18 */
--color-40-5: rgba(0, 0, 0, 0.05); /* 5 */
--color-41-10: rgba(0,0,0,0.4); /* 10 */
--color-42-3: rgba(0,0,0,0.3); /* 3 */
--color-43-2: rgba(0,0,0,.07); /* 2 */
--color-44-1: rgba(0, 0, 0, 0.3); /* 1 */
--color-45-3: rgba(0, 0, 0, 0.6); /* 3 */
--color-46-1: rgba(0, 0, 0, 0); /* 1 */
--color-47-5: rgba(0,0,0,0.07); /* 5 */
--color-48-3: rgba(0,0,0,0.03); /* 3 */
--color-49-15: rgba(0,0,0,0.1); /* 15 */
--color-50-3: rgba(0,0,0,0.9); /* 3 */
--color-51-6: rgba(0,0,0,0.7); /* 6 */
--color-52-3: rgba(0,0,0,0); /* 3 */
--color-53-1: rgba(0,0,0,0.8); /* 1 */
--color-54-1: rgba(0,0,0,0.02); /* 1 */
--color-55-1: rgba(0,0,0,1); /* 1 */
--color-56-7: rgba(0,0,0,.7); /* 7 */
--color-57-7: rgba(0,0,0,.6); /* 7 */
--color-58-4: rgba(0, 0, 0, 0.125); /* 4 */
--color-59-2: rgba(0,0,0,.05); /* 2 */
--color-60-1: rgba(0, 0, 0, 0.35); /* 1 */
--color-61-14: rgba(0,0,0,.8); /* 14 */
--color-62-3: rgba(0,0,0,.35); /* 3 */
--color-63-19: rgba(0,0,0,.3); /* 19 */
--color-64-4: rgba(0, 0, 0, 0.40); /* 4 */
--color-65-3: rgba(0, 0, 0, .25); /* 3 */
--color-66-13: #020202; /* 13 */
--color-67-2: #090909; /* 2 */
--color-68-3: rgba(10,10,10,0.1); /* 3 */
--color-69-3: rgba(10, 10, 10, 0.1); /* 3 */
--color-70-1: rgba(10,10,10,0.3); /* 1 */
--color-71-6: #0e0e0e; /* 6 */
--color-72-3: rgba(16,16,16,0.13); /* 3 */
--color-73-2: #101010; /* 2 */
--color-74-5: #121212; /* 5 */
--color-75-17: #111; /* 17 */
--color-76-1: rgba(17,17,17,1); /* 1 */
--color-77-1: #131313; /* 1 */
--color-78-1: #161616; /* 1 */
--color-79-2: #191919; /* 2 */
--color-80-1: #1a1a1a; /* 1 */
--color-81-1: #1c1c1c; /* 1 */
--color-82-2: #1b1b1b; /* 2 */
--color-83-13: #222; /* 13 */
--color-84-9: #232323; /* 9 */
--color-85-25: #262626; /* 25 */
--color-86-1: #252525; /* 1 */
--color-87-14: #2a2a2a; /* 14 */
--color-88-10: #282828; /* 10 */
--color-89-9: #292929; /* 9 */
--color-90-22: #2c2c2c; /* 22 */
--color-91-1: #2f2f2f; /* 1 */
--color-92-1: #303030; /* 1 */
--color-93-4: #313131; /* 4 */
--color-94-1: rgba(51,51,51,0.7); /* 1 */
--color-95-17: #333333; /* 17 */
--color-96-156: #333; /* 156 */
--color-97-1: #343434; /* 1 */
--color-98-1: #323232; /* 1 */
--color-99-6: rgba(50,50,50,.6); /* 6 */
--color-100-1: #353535; /* 1 */
--color-101-1: #363636; /* 1 */
--color-102-1: #373737; /* 1 */
--color-103-1: #393939; /* 1 */
--color-104-3: #3d3d3d; /* 3 */
--color-105-2: #3e3e3e; /* 2 */
--color-106-1: rgb(63, 63, 63); /* 1 */
--color-107-1: #3f3f3f; /* 1 */
--color-108-1: #414141; /* 1 */
--color-109-1: rgba(64, 64, 64, 0.2); /* 1 */
--color-110-12: #434343; /* 12 */
--color-111-50: #444; /* 50 */
--color-112-2: #454545; /* 2 */
--color-113-2: #444444; /* 2 */
--color-114-4: #484848; /* 4 */
--color-115-22: #4d4d4d; /* 22 */
--color-116-15: #4c4c4c; /* 15 */
--color-117-1: rgb(77, 77, 77); /* 1 */
--color-118-1: #4e4e4e; /* 1 */
--color-119-6: #4f4f4f; /* 6 */
--color-120-11: #555555; /* 11 */
--color-121-31: #555; /* 31 */
--color-122-7: #575757; /* 7 */
--color-123-13: #5b5b5b; /* 13 */
--color-124-2: #5d5d5d; /* 2 */
--color-125-2: #5e5e5e; /* 2 */
--color-126-2: #616161; /* 2 */
--color-127-1: #606060; /* 1 */
--color-128-1: #636363; /* 1 */
--color-129-12: #666666; /* 12 */
--color-130-233: #666; /* 233 */
--color-131-1: rgba(102,102,102,0.2); /* 1 */
--color-132-1: rgba(102,102,102,1); /* 1 */
--color-133-3: #676767; /* 3 */
--color-134-7: rgba(102,102,102,.7); /* 7 */
--color-135-9: #686868; /* 9 */
--color-136-5: #707070; /* 5 */
--color-137-1: #6f6f6f; /* 1 */
--color-138-2: #737373; /* 2 */
--color-139-1: rgba(115, 115, 115, 0.15); /* 1 */
--color-140-3: #727272; /* 3 */
--color-141-1: #757575; /* 1 */
--color-142-12: #767676; /* 12 */
--color-143-29: #777; /* 29 */
--color-144-1: #7a7a7a; /* 1 */
--color-145-6: #7c7c7c; /* 6 */
--color-146-1: rgba(127, 127, 127, 0.3); /* 1 */
--color-147-3: #808080; /* 3 */
--color-148-27: #7f7f7f; /* 27 */
--color-149-30: #888; /* 30 */
--color-150-9: #878787; /* 9 */
--color-151-1: #8a8a8a; /* 1 */
--color-152-1: #898989; /* 1 */
--color-153-3: #8c8c8c; /* 3 */
--color-154-1: #8d8d8d; /* 1 */
--color-155-12: #909090; /* 12 */
--color-156-2: #8f8f8f; /* 2 */
--color-157-2: #949494; /* 2 */
--color-158-1: rgba(148, 148, 148, 0.15); /* 1 */
--color-159-59: #979797; /* 59 */
--color-160-2: rgba(150,150,150,0.05); /* 2 */
--color-161-22: #999999; /* 22 */
--color-162-115: #999; /* 115 */
--color-163-1: #9a9a9a; /* 1 */
--color-164-3: #9c9c9c; /* 3 */
--color-165-1: #a0a0a0; /* 1 */
--color-166-3: #a6a6a6; /* 3 */
--color-167-3: #a7a7a7; /* 3 */
--color-168-3: #ababab; /* 3 */
--color-169-43: #aaa; /* 43 */
--color-170-6: #aaaaaa; /* 6 */
--color-171-4: #adadad; /* 4 */
--color-172-3: rgb(176, 176, 176); /* 3 */
--color-173-2: #afafaf; /* 2 */
--color-174-3: #b3b3b3; /* 3 */
--color-175-15: #b2b2b2; /* 15 */
--color-176-1: #b4b4b4; /* 1 */
--color-177-2: #b7b7b7; /* 2 */
--color-178-35: #bbb; /* 35 */
--color-179-1: #bababa; /* 1 */
--color-180-1: #bbbbbb; /* 1 */
--color-181-2: rgb(185, 185, 185); /* 2 */
--color-182-8: #b9b9b9; /* 8 */
--color-183-13: #bcbcbc; /* 13 */
--color-184-1: #bdbdbd; /* 1 */
--color-185-3: #bfbfbf; /* 3 */
--color-186-2: #c3c3c3; /* 2 */
--color-187-1: #c5c5c5; /* 1 */
--color-188-1: #c4c4c4; /* 1 */
--color-189-6: #c8c8c8; /* 6 */
--color-190-1: #c9c9c9; /* 1 */
--color-191-1: #cacaca; /* 1 */
--color-192-225: #ccc; /* 225 */
--color-193-26: #cccccc; /* 26 */
--color-194-3: #cdcdcd; /* 3 */
--color-195-13: #cecece; /* 13 */
--color-196-7: #cfcfcf; /* 7 */
--color-197-4: #d2d2d2; /* 4 */
--color-198-45: #d0d0d0; /* 45 */
--color-199-8: #d1d1d1; /* 8 */
--color-200-3: #d4d4d4; /* 3 */
--color-201-1: rgba(211, 211, 211, 0.5); /* 1 */
--color-202-4: #d3d3d3; /* 4 */
--color-203-4: #d7d7d7; /* 4 */
--color-204-13: #d9d9d9; /* 13 */
--color-205-5: #dadada; /* 5 */
--color-206-4: #d8d8d8; /* 4 */
--color-207-101: #dcdcdc; /* 101 */
--color-208-2: #dbdbdb; /* 2 */
--color-209-64: #ddd; /* 64 */
--color-210-26: #dddddd; /* 26 */
--color-211-5: #dfdfdf; /* 5 */
--color-212-1: #dedede; /* 1 */
--color-213-13: #e0e0e0; /* 13 */
--color-214-100: #e1e1e1; /* 100 */
--color-215-3: rgba(225,225,225,.2); /* 3 */
--color-216-18: #e4e4e4; /* 18 */
--color-217-8: #e3e3e3; /* 8 */
--color-218-2: #e2e2e2; /* 2 */
--color-219-15: #e5e5e5; /* 15 */
--color-220-19: #e6e6e6; /* 19 */
--color-221-2: #e8e8e8; /* 2 */
--color-222-7: #e7e7e7; /* 7 */
--color-223-2: #e9e9e9; /* 2 */
--color-224-30: #ebebeb; /* 30 */
--color-225-23: #eaeaea; /* 23 */
--color-226-21: #ededed; /* 21 */
--color-227-18: #eeeeee; /* 18 */
--color-228-287: #eee; /* 287 */
--color-229-6: rgba(238, 238, 238, 0.3); /* 6 */
--color-230-10: #ececec; /* 10 */
--color-231-12: #efefef; /* 12 */
--color-232-25: #f0f0f0; /* 25 */
--color-233-2: rgba(239, 239, 239, 0.8); /* 2 */
--color-234-5: #f3f3f3; /* 5 */
--color-235-6: #f1f1f1; /* 6 */
--color-236-10: #f2f2f2; /* 10 */
--color-237-4: rgba(242,242,242,.5); /* 4 */
--color-238-42: #f5f5f5; /* 42 */
--color-239-3: #f6f6f6; /* 3 */
--color-240-24: #f4f4f4; /* 24 */
--color-241-39: #f7f7f7; /* 39 */
--color-242-14: #f8f8f8; /* 14 */
--color-243-3: rgba(247, 247, 247, .85); /* 3 */
--color-244-5: #fafafa; /* 5 */
--color-245-10: #f9f9f9; /* 10 */
--color-246-2: #fbfbfb; /* 2 */
--color-247-2: #fcfcfc; /* 2 */
--color-248-912: #fff; /* 912 */
--color-249-115: #ffffff; /* 115 */
--color-250-22: rgba(255, 255, 255, 0.5); /* 22 */
--color-251-4: rgba(255, 255, 255, .1); /* 4 */
--color-252-3: rgba(255, 255, 255, .85); /* 3 */
--color-253-1: rgba(255,255,255,0.55); /* 1 */
--color-254-6: rgba(255,255,255,0.2); /* 6 */
--color-255-5: #fefefe; /* 5 */
--color-256-8: rgba(255,255,255,1); /* 8 */
--color-257-1: rgba(255, 255, 255, 0.4); /* 1 */
--color-258-3: rgba(255, 255, 255, 0.75); /* 3 */
--color-259-83: rgba(255, 255, 255, 0.2); /* 83 */
--color-260-17: rgba(255, 255, 255, 0.7); /* 17 */
--color-261-1: rgba(255, 255, 255, 0.48); /* 1 */
--color-262-7: rgba(255,255,255,0.8); /* 7 */
--color-263-12: rgba(255,255,255,0.1); /* 12 */
--color-264-3: rgba(255,255,255,0.98); /* 3 */
--color-265-11: rgba(255,255,255,0.7); /* 11 */
--color-266-2: rgba(255,255,255,0.07); /* 2 */
--color-267-10: rgba(255,255,255,0.6); /* 10 */
--color-268-1: rgba(255,255,255,0.94); /* 1 */
--color-269-6: rgba(255,255,255,0.5); /* 6 */
--color-270-4: rgba(255,255,255,0.9); /* 4 */
--color-271-8: rgba(255,255,255,0.15); /* 8 */
--color-272-2: rgba(255,255,255,0.05); /* 2 */
--color-273-6: rgba(255,255,255,.5); /* 6 */
--color-274-1: rgba(255,255,255,0.4); /* 1 */
--color-275-1: rgba(255,255,255,0.06); /* 1 */
--color-276-1: rgba(255,255,255,0.25); /* 1 */
--color-277-1: rgba(255,255,255,0.30); /* 1 */
--color-278-15: rgba(255, 255, 255, 0.15); /* 15 */
--color-279-1: rgba(255, 255, 255, 0.8); /* 1 */
--color-280-1: rgba(255, 255, 255, 0.99); /* 1 */
--color-281-1: rgba(255, 255, 255, 0); /* 1 */
--color-282-1: rgba(255, 255, 255, 0.85); /* 1 */
--color-283-3: rgba(255,255,255,.1); /* 3 */
--color-284-31: rgba(255,255,255,.3); /* 31 */
--color-285-39: rgba(255,255,255,.2); /* 39 */
--color-286-9: rgba(255,255,255,.7); /* 9 */
--color-287-15: rgba(255,255,255,.6); /* 15 */
--color-288-5: rgba(255,255,255,.9); /* 5 */
--color-289-5: rgba(255,255,255,.4); /* 5 */
--color-290-2: #3e3c3c; /* 2 */
--color-291-1: #434040; /* 1 */
--color-292-2: #807979; /* 2 */
--color-293-1: #c5bebe; /* 1 */
--color-294-2: #e2dede; /* 2 */
--color-295-1: #e7c3c3; /* 1 */
--color-296-2: #f2dede; /* 2 */
--color-297-2: #e4b9b9; /* 2 */
--color-298-1: #d04343; /* 1 */
--color-299-2: #d93f3f; /* 2 */
--color-300-1: #d62929; /* 1 */
--color-301-1: #d44; /* 1 */
--color-302-4: #e31f1f; /* 4 */
--color-303-1: #a11; /* 1 */
--color-304-1: rgba(238, 57, 57, 0.1); /* 1 */
--color-305-1: #f26161; /* 1 */
--color-306-1: #aa0808; /* 1 */
--color-307-6: #f84545; /* 6 */
--color-308-2: #fa3e3e; /* 2 */
--color-309-5: #fa4747; /* 5 */
--color-310-1: rgba(250, 71, 71, 0.1); /* 1 */
--color-311-1: #a40000; /* 1 */
--color-312-1: #a20000; /* 1 */
--color-313-2: #bb0000; /* 2 */
--color-314-5: #b00; /* 5 */
--color-315-9: #cc0000; /* 9 */
--color-316-16: #ce0000; /* 16 */
--color-317-1: #d40000; /* 1 */
--color-318-3: rgba(250,0,0,0.1); /* 3 */
--color-319-24: #ff0000; /* 24 */
--color-320-4: #f00; /* 4 */
--color-321-1: #f22; /* 1 */
--color-322-1: #ff4545; /* 1 */
--color-323-5: #ffcccc; /* 5 */
--color-324-1: #fdd; /* 1 */
--color-325-2: #ffebeb; /* 2 */
--color-326-1: #fee; /* 1 */
--color-327-1: #fff8f8; /* 1 */
--color-328-6: #a94442; /* 6 */
--color-329-1: #c9302c; /* 1 */
--color-330-1: #d43f3a; /* 1 */
--color-331-1: #d4403a; /* 1 */
--color-332-14: #d9534f; /* 14 */
--color-333-1: #ac2925; /* 1 */
--color-334-1: #da4f49; /* 1 */
--color-335-2: #f23630; /* 2 */
--color-336-5: #f4524d; /* 5 */
--color-337-6: #f11f18; /* 6 */
--color-338-1: #ff7870; /* 1 */
--color-339-1: rgba(245,106,95, 0.9); /* 1 */
--color-340-1: rgba(245,106,95, 1); /* 1 */
--color-341-6: #fe3829; /* 6 */
--color-342-2: #fe5043; /* 2 */
--color-343-5: #fe6c61; /* 5 */
--color-344-1: #ff200f; /* 1 */
--color-345-1: #ff4f42; /* 1 */
--color-346-2: #ff675b; /* 2 */
--color-347-3: #d95348; /* 3 */
--color-348-4: rgba(221,56,40,1); /* 4 */
--color-349-1: rgba(221,56,40,0.9); /* 1 */
--color-350-1: rgb(192,57,43); /* 1 */
--color-351-1: rgba(192,57,43,0.8); /* 1 */
--color-352-1: rgba(192,57,43,1); /* 1 */
--color-353-1: rgba(172,37,23,0.9); /* 1 */
--color-354-2: rgba(172,37,23,1); /* 2 */
--color-355-1: rgba(231,76,60,0.8); /* 1 */
--color-356-1: rgba(231,76,60,1); /* 1 */
--color-357-5: #d14836; /* 5 */
--color-358-16: #dd4b39; /* 16 */
--color-359-1: #fd2e06; /* 1 */
--color-360-29: #ff3300; /* 29 */
--color-361-2: #d35230; /* 2 */
--color-362-2: rgba(211,82,48,0.25); /* 2 */
--color-363-2: #c94a26; /* 2 */
--color-364-2: rgba(201,74,38,0.1); /* 2 */
--color-365-1: #ff6838; /* 1 */
--color-366-1: #c30; /* 1 */
--color-367-4: #8c513b; /* 4 */
--color-368-1: #ff4500; /* 1 */
--color-369-1: #ffccba; /* 1 */
--color-370-3: #ce9178; /* 3 */
--color-371-3: #d53e00; /* 3 */
--color-372-2: #f57f4b; /* 2 */
--color-373-6: #f46e33; /* 6 */
--color-374-5: #f79468; /* 5 */
--color-375-2: #f62; /* 2 */
--color-376-1: #f26522; /* 1 */
--color-377-12: rgba(204, 154, 129, 0); /* 12 */
--color-378-1: rgba(191,64,0,0.9); /* 1 */
--color-379-2: rgba(191,64,0,1); /* 2 */
--color-380-1: #f50; /* 1 */
--color-381-1: #dc4f03; /* 1 */
--color-382-4: #fc7022; /* 4 */
--color-383-1: rgba(252,112,34,1); /* 1 */
--color-384-2: rgba(252,128,59,1); /* 2 */
--color-385-1: rgba(252,128,59,0.9); /* 1 */
--color-386-1: #a93e00; /* 1 */
--color-387-20: #bf4900; /* 20 */
--color-388-5: #e35600; /* 5 */
--color-389-1: rgba(211,84,0,0.8); /* 1 */
--color-390-1: rgba(211,84,0,1); /* 1 */
--color-391-12: #ff8635; /* 12 */
--color-392-2: #f3efec; /* 2 */
--color-393-2: #952; /* 2 */
--color-394-1: #ec995b; /* 1 */
--color-395-1: rgba(230,126,34,0.8); /* 1 */
--color-396-1: rgba(230,126,34,1); /* 1 */
--color-397-1: rgba(210,106,14,0.9); /* 1 */
--color-398-2: rgba(210,106,14,1); /* 2 */
--color-399-2: #fef7f1; /* 2 */
--color-400-7: #e9730c; /* 7 */
--color-401-2: #572a03; /* 2 */
--color-402-2: #fb8a29; /* 2 */
--color-403-2: #fd953c; /* 2 */
--color-404-2: #ffdab9; /* 2 */
--color-405-1: #91765d; /* 1 */
--color-406-1: #c97626; /* 1 */
--color-407-2: #f0c49b; /* 2 */
--color-408-1: #ffa54e; /* 1 */
--color-409-4: #e3dad1; /* 4 */
--color-410-4: #432; /* 4 */
--color-411-1: #da8028; /* 1 */
--color-412-1: #a50; /* 1 */
--color-413-1: #ff7e00; /* 1 */
--color-414-1: #ff9933; /* 1 */
--color-415-1: #ff9c33; /* 1 */
--color-416-4: #f29422; /* 4 */
--color-417-2: #d17f15; /* 2 */
--color-418-1: #a9640a; /* 1 */
--color-419-1: #d9800d; /* 1 */
--color-420-1: #f5a742; /* 1 */
--color-421-1: rgba(245, 139, 0, 0.1); /* 1 */
--color-422-14: #f0ad4e; /* 14 */
--color-423-6: #c17305; /* 6 */
--color-424-5: #f89406; /* 5 */
--color-425-1: #faa732; /* 1 */
--color-426-2: #da8205; /* 2 */
--color-427-2: #ff9500; /* 2 */
--color-428-2: rgba(255,149,0,0.25); /* 2 */
--color-429-1: rgba(255, 150, 0, .3); /* 1 */
--color-430-2: #382e1f; /* 2 */
--color-431-1: #b36b00; /* 1 */
--color-432-1: #e68a00; /* 1 */
--color-433-2: #ff9900; /* 2 */
--color-434-2: #ff9f0a; /* 2 */
--color-435-2: rgba(255,159,10,0.15); /* 2 */
--color-436-1: rgba(243,156,18,0.8); /* 1 */
--color-437-1: rgba(243,156,18,1); /* 1 */
--color-438-3: rgba(223,136,0,1); /* 3 */
--color-439-2: rgba(223,136,0,0.9); /* 2 */
--color-440-2: #fb9a00; /* 2 */
--color-441-1: #8a6d3b; /* 1 */
--color-442-1: rgba(253,161,2,1); /* 1 */
--color-443-6: #b9a888; /* 6 */
--color-444-2: #c3b498; /* 2 */
--color-445-5: #cec2ab; /* 5 */
--color-446-1: #d7b472; /* 1 */
--color-447-1: rgb(247, 164, 14); /* 1 */
--color-448-7: #fcbe49; /* 7 */
--color-449-2: #7f5300; /* 2 */
--color-450-3: #c17f00; /* 3 */
--color-451-4: #e59600; /* 4 */
--color-452-2: #ffa700; /* 2 */
--color-453-8: #ffa500; /* 8 */
--color-454-5: #ffb019; /* 5 */
--color-455-1: #ecebe9; /* 1 */
--color-456-1: #aa8a4c; /* 1 */
--color-457-1: #f5efe3; /* 1 */
--color-458-1: #faebcc; /* 1 */
--color-459-1: #d7ba7d; /* 1 */
--color-460-2: rgb(253,184,35); /* 2 */
--color-461-1: rgba(253,184,35,1); /* 1 */
--color-462-1: #d79200; /* 1 */
--color-463-1: #7b683c; /* 1 */
--color-464-1: #b7994b; /* 1 */
--color-465-2: #d89900; /* 2 */
--color-466-51: #f0ab00; /* 51 */
--color-467-7: #efab00; /* 7 */
--color-468-2: #ffd56c; /* 2 */
--color-469-1: #ffd565; /* 1 */
--color-470-2: #d9a300; /* 2 */
--color-471-2: #fc3; /* 2 */
--color-472-3: #ffefc1; /* 3 */
--color-473-1: #ffc300; /* 1 */
--color-474-8: #fffaea; /* 8 */
--color-475-1: #aca899; /* 1 */
--color-476-1: #e3ba24; /* 1 */
--color-477-1: #d8ac12; /* 1 */
--color-478-1: #c79d01; /* 1 */
--color-479-1: #ffd230; /* 1 */
--color-480-2: #fff2c1; /* 2 */
--color-481-1: #f1c40f; /* 1 */
--color-482-1: rgba(241,196,15,0.8); /* 1 */
--color-483-1: rgba(241,196,15,1); /* 1 */
--color-484-1: rgba(221,176,0,0.9); /* 1 */
--color-485-2: rgba(221,176,0,1); /* 2 */
--color-486-6: #ffcc00; /* 6 */
--color-487-1: rgba(255,204,0,0); /* 1 */
--color-488-1: #fd4; /* 1 */
--color-489-2: #fcf8e3; /* 2 */
--color-490-45: #fdd500; /* 45 */
--color-491-2: #fffbe3; /* 2 */
--color-492-1: #e3c300; /* 1 */
--color-493-3: #fff4b0; /* 3 */
--color-494-1: #fe7; /* 1 */
--color-495-48: #feea36; /* 48 */
--color-496-1: #fffacd; /* 1 */
--color-497-1: #997; /* 1 */
--color-498-1: #dcdcaa; /* 1 */
--color-499-1: #dcdca4; /* 1 */
--color-500-1: rgba(10,10,0,0.1); /* 1 */
--color-501-1: rgba(10, 10, 0, 0.1); /* 1 */
--color-502-3: #ff0; /* 3 */
--color-503-1: rgba(255, 255, 0, .4); /* 1 */
--color-504-5: #ffff00; /* 5 */
--color-505-4: #ff6; /* 4 */
--color-506-1: #ffff7a; /* 1 */
--color-507-6: #ffff99; /* 6 */
--color-508-1: #ffa; /* 1 */
--color-509-9: #ffffcc; /* 9 */
--color-510-2: #ffc; /* 2 */
--color-511-1: #fffff0; /* 1 */
--color-512-1: #7ca10c; /* 1 */
--color-513-1: #6a8c00; /* 1 */
--color-514-2: #99cc00; /* 2 */
--color-515-12: #a5cf48; /* 12 */
--color-516-1: #a5cf49; /* 1 */
--color-517-1: #92d400; /* 1 */
--color-518-5: #9cc153; /* 5 */
--color-519-22: #669900; /* 22 */
--color-520-3: #8bbb39; /* 3 */
--color-521-1: #9ac949; /* 1 */
--color-522-5: #9bca49; /* 5 */
--color-523-1: #96c93c; /* 1 */
--color-524-9: #99ce46; /* 9 */
--color-525-2: #9bce49; /* 2 */
--color-526-2: #9cce49; /* 2 */
--color-527-1: #c3d0b0; /* 1 */
--color-528-2: #94c947; /* 2 */
--color-529-4: #64992c; /* 4 */
--color-530-5: #90bd63; /* 5 */
--color-531-2: #70a33c; /* 2 */
--color-532-24: #83bc49; /* 24 */
--color-533-12: #99cc66; /* 12 */
--color-534-2: #61942e; /* 2 */
--color-535-4: #56a00e; /* 4 */
--color-536-2: #496132; /* 2 */
--color-537-2: #6a9942; /* 2 */
--color-538-1: #d6e9c6; /* 1 */
--color-539-6: #53812d; /* 6 */
--color-540-2: #5f9434; /* 2 */
--color-541-5: #6dab3c; /* 5 */
--color-542-1: rgba(92, 193, 34, 0.1); /* 1 */
--color-543-4: #a7d78d; /* 4 */
--color-544-8: #4fb81c; /* 8 */
--color-545-8: #339900; /* 8 */
--color-546-2: #c1e2b3; /* 2 */
--color-547-1: #dff0d8; /* 1 */
--color-548-2: #2db200; /* 2 */
--color-549-1: #2901; /* 1 */
--color-550-1: #170; /* 1 */
--color-551-1: #8fdf82; /* 1 */
--color-552-1: #1b870d; /* 1 */
--color-553-1: #22a711; /* 1 */
--color-554-1: #488644; /* 1 */
--color-555-1: #5aa855; /* 1 */
--color-556-2: #6ab165; /* 2 */
--color-557-1: #41d239; /* 1 */
--color-558-1: rgb(131, 189, 131); /* 1 */
--color-559-2: #4cae4c; /* 2 */
--color-560-20: #5cb85c; /* 20 */
--color-561-1: #5bb75b; /* 1 */
--color-562-1: #398439; /* 1 */
--color-563-1: #47a447; /* 1 */
--color-564-1: rgb(148,215,148); /* 1 */
--color-565-2: #47bc47; /* 2 */
--color-566-1: #339933; /* 1 */
--color-567-2: #5cd05c; /* 2 */
--color-568-1: #292; /* 1 */
--color-569-7: #7e7; /* 7 */
--color-570-2: #054705; /* 2 */
--color-571-1: #006600; /* 1 */
--color-572-1: #090; /* 1 */
--color-573-11: #009900; /* 11 */
--color-574-1: #00c100; /* 1 */
--color-575-2: #0f0; /* 2 */
--color-576-5: #00ff00; /* 5 */
--color-577-2: #3c763d; /* 2 */
--color-578-1: #4caf50; /* 1 */
--color-579-2: #32d74b; /* 2 */
--color-580-2: rgba(50,215,75,0.15); /* 2 */
--color-581-1: #09a72e; /* 1 */
--color-582-2: #34c759; /* 2 */
--color-583-2: rgba(52,199,89,0.25); /* 2 */
--color-584-1: #72be87; /* 1 */
--color-585-1: #256f3a; /* 1 */
--color-586-2: #003914; /* 2 */
--color-587-3: #007b2c; /* 3 */
--color-588-2: #00b942; /* 2 */
--color-589-7: #00d24b; /* 7 */
--color-590-1: rgba(0, 210, 75, 0.1); /* 1 */
--color-591-1: #00822f; /* 1 */
--color-592-4: #009f39; /* 4 */
--color-593-4: #00d24c; /* 4 */
--color-594-6: #4ac97d; /* 6 */
--color-595-2: #5dcf8b; /* 2 */
--color-596-5: #75d69c; /* 5 */
--color-597-2: rgba(39,174,96,0.8); /* 2 */
--color-598-1: rgba(39,174,96,1); /* 1 */
--color-599-1: rgb(46,204,113); /* 1 */
--color-600-1: rgba(46,204,113,0.8); /* 1 */
--color-601-1: rgba(46,204,113,1); /* 1 */
--color-602-1: rgba(26,184,93,0.9); /* 1 */
--color-603-2: rgba(26,184,93,1); /* 2 */
--color-604-2: #f1fdf6; /* 2 */
--color-605-2: rgba(19,154,76,0.9); /* 2 */
--color-606-2: rgba(19,154,76,1); /* 2 */
--color-607-1: #09863e; /* 1 */
--color-608-1: #53aa78; /* 1 */
--color-609-4: #3cb371; /* 4 */
--color-610-7: #0a7e3e; /* 7 */
--color-611-2: #17864d; /* 2 */
--color-612-2: rgba(23,134,77,0.1); /* 2 */
--color-613-2: #043e20; /* 2 */
--color-614-3: #077d41; /* 3 */
--color-615-3: #088746; /* 3 */
--color-616-6: #099f52; /* 6 */
--color-617-2: #0ab05b; /* 2 */
--color-618-7: #0bb75f; /* 7 */
--color-619-32: #0ccf6b; /* 32 */
--color-620-1: #068845; /* 1 */
--color-621-1: #adfad3; /* 1 */
--color-622-2: #21a366; /* 2 */
--color-623-2: rgba(33,163,102,0.25); /* 2 */
--color-624-1: #164; /* 1 */
--color-625-1: #085; /* 1 */
--color-626-1: rgba(22,160,133,0.8); /* 1 */
--color-627-1: rgba(22,160,133,1); /* 1 */
--color-628-1: rgba(26,188,156,0.8); /* 1 */
--color-629-1: rgba(26,188,156,1); /* 1 */
--color-630-1: rgba(6,168,136,0.9); /* 1 */
--color-631-2: rgba(6,168,136,1); /* 2 */
--color-632-1: rgba(2,140,113,0.9); /* 1 */
--color-633-2: rgba(2,140,113,1); /* 2 */
--color-634-1: rgba(4, 172, 167, 0.1); /* 1 */
--color-635-4: #e2e3e3; /* 4 */
--color-636-18: #262929; /* 18 */
--color-637-1: #f7f8f8; /* 1 */
--color-638-2: #f2f4f4; /* 2 */
--color-639-1: #f8f9f9; /* 1 */
--color-640-3: #c9dada; /* 3 */
--color-641-4: #669999; /* 4 */
--color-642-1: #0ff; /* 1 */
--color-643-5: #00ffff; /* 5 */
--color-644-1: rgba(107,120,121,0.9); /* 1 */
--color-645-2: rgba(107,120,121,1); /* 2 */
--color-646-1: rgba(127,140,141,0.8); /* 1 */
--color-647-1: rgba(127,140,141,1); /* 1 */
--color-648-1: rgba(109,125,126,0.8); /* 1 */
--color-649-1: rgba(129,145,146,0.8); /* 1 */
--color-650-1: rgba(129,145,146,1); /* 1 */
--color-651-1: rgba(149,165,166,0.8); /* 1 */
--color-652-1: rgba(149,165,166,1); /* 1 */
--color-653-2: #2ddbe6; /* 2 */
--color-654-2: rgba(45,219,230,0.25); /* 2 */
--color-655-2: #008088; /* 2 */
--color-656-2: rgba(0,128,136,0.1); /* 2 */
--color-657-6: #008d97; /* 6 */
--color-658-2: #00a4b0; /* 2 */
--color-659-5: #00c1cf; /* 5 */
--color-660-2: #f0fafb; /* 2 */
--color-661-1: #0cd7ed; /* 1 */
--color-662-1: #77c5cf; /* 1 */
--color-663-1: #046c7a; /* 1 */
--color-664-1: rgba(0,158,183, 1); /* 1 */
--color-665-1: #18c0df; /* 1 */
--color-666-2: #bce8f1; /* 2 */
--color-667-2: #089fbf; /* 2 */
--color-668-1: #2c7c91; /* 1 */
--color-669-1: #048cad; /* 1 */
--color-670-2: #39a0bd; /* 2 */
--color-671-5: #4cadc9; /* 5 */
--color-672-6: #338faa; /* 6 */
--color-673-1: #49afcd; /* 1 */
--color-674-8: #5bc0de; /* 8 */
--color-675-4: #5bc6e8; /* 4 */
--color-676-1: #19aad8; /* 1 */
--color-677-1: #50d4fd; /* 1 */
--color-678-10: #f3f6f7; /* 10 */
--color-679-1: #2a97bc; /* 1 */
--color-680-1: #43b0d5; /* 1 */
--color-681-2: #58b9da; /* 2 */
--color-682-16: #1797c0; /* 16 */
--color-683-6: #00a9e0; /* 6 */
--color-684-1: #d4dfe3; /* 1 */
--color-685-2: #72c9e9; /* 2 */
--color-686-3: #0097cf; /* 3 */
--color-687-18: #00a8e3; /* 18 */
--color-688-1: #00aced; /* 1 */
--color-689-1: #2e383c; /* 1 */
--color-690-5: #e7f4f9; /* 5 */
--color-691-7: #00a1e1; /* 7 */
--color-692-3: #bee0ee; /* 3 */
--color-693-3: #29aae2; /* 3 */
--color-694-4: #beebff; /* 4 */
--color-695-7: #008fd3; /* 7 */
--color-696-2: #a8e4ff; /* 2 */
--color-697-3: #3d3f40; /* 3 */
--color-698-17: #464849; /* 17 */
--color-699-5: #4a4c4d; /* 5 */
--color-700-5: rgba(74,76,77,.7); /* 5 */
--color-701-1: #323435; /* 1 */
--color-702-6: #3a3c3d; /* 6 */
--color-703-1: rgba(58,60,61,.7); /* 1 */
--color-704-1: rgba(58,60,61,.8); /* 1 */
--color-705-1: #d7dbdd; /* 1 */
--color-706-17: #edeff0; /* 17 */
--color-707-2: rgba(237,239,240,0.6); /* 2 */
--color-708-10: #f7f9fa; /* 10 */
--color-709-2: #31708f; /* 2 */
--color-710-2: #3a87ad; /* 2 */
--color-711-2: #afd9ee; /* 2 */
--color-712-1: #d9edf7; /* 1 */
--color-713-1: #189de1; /* 1 */
--color-714-4: #0782c1; /* 4 */
--color-715-1: #005580; /* 1 */
--color-716-15: #006699; /* 15 */
--color-717-2: #069; /* 2 */
--color-718-1: #0077b3; /* 1 */
--color-719-2: #0088cc; /* 2 */
--color-720-117: #1b8fcc; /* 117 */
--color-721-2: #0890d8; /* 2 */
--color-722-4: #0277b7; /* 4 */
--color-723-2: #027dc1; /* 2 */
--color-724-11: #0287d0; /* 11 */
--color-725-1: #0291df; /* 1 */
--color-726-1: #029ef3; /* 1 */
--color-727-2: #9cdcfe; /* 2 */
--color-728-2: #145072; /* 2 */
--color-729-2: #0a6aa1; /* 2 */
--color-730-4: #139ff7; /* 4 */
--color-731-1: #005d96; /* 1 */
--color-732-1: #009af9; /* 1 */
--color-733-1: #f0f3f5; /* 1 */
--color-734-1: rgba(41,128,185,0.8); /* 1 */
--color-735-1: rgba(41,128,185,1); /* 1 */
--color-736-1: rgba(52,152,219,0.8); /* 1 */
--color-737-1: rgba(52,152,219,1); /* 1 */
--color-738-1: rgba(32,132,199,0.9); /* 1 */
--color-739-2: rgba(32,132,199,1); /* 2 */
--color-740-1: rgba(21,108,165,0.9); /* 1 */
--color-741-2: rgba(21,108,165,1); /* 2 */
--color-742-1: rgb(72,172,239); /* 1 */
--color-743-10: #00365a; /* 10 */
--color-744-3: #4596ce; /* 3 */
--color-745-3: #499cd6; /* 3 */
--color-746-1: #1d75b3; /* 1 */
--color-747-2: #41a5ee; /* 2 */
--color-748-2: rgba(65,165,238,0.25); /* 2 */
--color-749-1: #0a568d; /* 1 */
--color-750-1: #0076cb; /* 1 */
--color-751-1: #0076ca; /* 1 */
--color-752-1: #536878; /* 1 */
--color-753-1: #5c819d; /* 1 */
--color-754-10: #04599a; /* 10 */
--color-755-1: #0074cc; /* 1 */
--color-756-10: #8cf; /* 10 */
--color-757-2: #85bae4; /* 2 */
--color-758-6: #93c6ef; /* 6 */
--color-759-2: #66afe9; /* 2 */
--color-760-2: #00172a; /* 2 */
--color-761-2: #676f76; /* 2 */
--color-762-11: #455e74; /* 11 */
--color-763-3: #445e74; /* 3 */
--color-764-5: #b5d0e8; /* 5 */
--color-765-1: #2b6191; /* 1 */
--color-766-3: #3071a9; /* 3 */
--color-767-2: #337ab7; /* 2 */
--color-768-13: #428bca; /* 13 */
--color-769-1: #6dafe8; /* 1 */
--color-770-1: #08f; /* 1 */
--color-771-3: #d2eaff; /* 3 */
--color-772-2: #ddefff; /* 2 */
--color-773-1: #e3f2ff; /* 1 */
--color-774-2: #f0f8ff; /* 2 */
--color-775-1: #8396a8; /* 1 */
--color-776-1: #213b54; /* 1 */
--color-777-2: #7eadd9; /* 2 */
--color-778-1: #c5dcf2; /* 1 */
--color-779-6: #2a86db; /* 6 */
--color-780-2: #4092df; /* 2 */
--color-781-5: #5aa1e3; /* 5 */
--color-782-2: rgba(27, 145, 255, 0.1); /* 2 */
--color-783-17: #6a6d70; /* 17 */
--color-784-4: rgba(106,109,112,.4); /* 4 */
--color-785-4: #74777a; /* 4 */
--color-786-69: #323436; /* 69 */
--color-787-1: rgba(50,52,54,0.95); /* 1 */
--color-788-2: rgba(50,52,54,0.8); /* 2 */
--color-789-2: #313335; /* 2 */
--color-790-2: rgba(49,51,53,.7); /* 2 */
--color-791-1: rgba(30,32,34,0.8); /* 1 */
--color-792-1: rgba(30,32,34,1); /* 1 */
--color-793-1: rgba(30,32,34,0.9); /* 1 */
--color-794-4: #44484c; /* 4 */
--color-795-4: rgba(68,72,76,0.1); /* 4 */
--color-796-1: #c9cccf; /* 1 */
--color-797-67: #32363a; /* 67 */
--color-798-4: rgba(50,54,58,.08); /* 4 */
--color-799-2: #d0d4d8; /* 2 */
--color-800-4: #131517; /* 4 */
--color-801-5: #e3e6e9; /* 5 */
--color-802-2: #708090; /* 2 */
--color-803-14: #eef0f2; /* 14 */
--color-804-4: #778899; /* 4 */
--color-805-2: #c3cbd3; /* 2 */
--color-806-1: #f8f9fa; /* 1 */
--color-807-1: #475e75; /* 1 */
--color-808-1: rgba(161,179,197,0.07); /* 1 */
--color-809-5: #354a5f; /* 5 */
--color-810-1: rgba(44,62,80,0.8); /* 1 */
--color-811-1: rgba(44,62,80,1); /* 1 */
--color-812-1: rgba(52,73,94,0.8); /* 1 */
--color-813-1: rgba(52,73,94,1); /* 1 */
--color-814-1: rgba(32,53,74,0.9); /* 1 */
--color-815-2: rgba(32,53,74,1); /* 2 */
--color-816-1: rgba(24,42,60,0.9); /* 1 */
--color-817-2: rgba(24,42,60,1); /* 2 */
--color-818-1: rgba(10,20,30,0.8); /* 1 */
--color-819-1: rgba(10,20,30,0.6); /* 1 */
--color-820-1: #0a141e; /* 1 */
--color-821-6: #336699; /* 6 */
--color-822-1: #2b78c5; /* 1 */
--color-823-1: #1973cc; /* 1 */
--color-824-7: #0854a0; /* 7 */
--color-825-2: #085caf; /* 2 */
--color-826-31: #0a6ed1; /* 31 */
--color-827-7: #0a6dd1; /* 7 */
--color-828-1: rgba(10, 110, 209, 0.07); /* 1 */
--color-829-1: rgba(10, 110, 209, 0.1); /* 1 */
--color-830-2: rgba(10, 110, 209, 0.4); /* 2 */
--color-831-6: rgba(10,110,209,.07); /* 6 */
--color-832-1: rgba(10,110,209,.6); /* 1 */
--color-833-15: #7bbaf9; /* 15 */
--color-834-1: #075cb0; /* 1 */
--color-835-1: #0254a7; /* 1 */
--color-836-2: rgba(50, 151, 253, 0.75); /* 2 */
--color-837-1: #05a; /* 1 */
--color-838-10: #0a84ff; /* 10 */
--color-839-2: rgba(10,132,255,0.25); /* 2 */
--color-840-1: #3f9fff; /* 1 */
--color-841-1: #7fbfff; /* 1 */
--color-842-8: #99ccff; /* 8 */
--color-843-2: #d1e8ff; /* 2 */
--color-844-2: #f5faff; /* 2 */
--color-845-1: #a4b3c3; /* 1 */
--color-846-1: #7b9abc; /* 1 */
--color-847-1: #1b3046; /* 1 */
--color-848-2: #1980ec; /* 2 */
--color-849-11: #007aff; /* 11 */
--color-850-2: rgba(0,122,255,0.15); /* 2 */
--color-851-5: #89919a; /* 5 */
--color-852-3: rgba(137,145,154,.4); /* 3 */
--color-853-3: #c2c8cf; /* 3 */
--color-854-2: #e8eff7; /* 2 */
--color-855-25: #51555a; /* 25 */
--color-856-8: #b3b7bc; /* 8 */
--color-857-1: #aeb3b9; /* 1 */
--color-858-3: #0059c8; /* 3 */
--color-859-4: rgb(103,115,131); /* 4 */
--color-860-4: rgba(103,115,131,0.8); /* 4 */
--color-861-9: #e4e7eb; /* 9 */
--color-862-43: #1f252d; /* 43 */
--color-863-1: #84a0c4; /* 1 */
--color-864-1: #3764a0; /* 1 */
--color-865-1: #2274e2; /* 1 */
--color-866-1: #e8f2ff; /* 1 */
--color-867-2: #3f4650; /* 2 */
--color-868-2: rgba(67,75,86,0.5); /* 2 */
--color-869-6: #1b2027; /* 6 */
--color-870-1: #396095; /* 1 */
--color-871-1: #4a90f2; /* 1 */
--color-872-2: #e8f1fe; /* 2 */
--color-873-2: #0057d2; /* 2 */
--color-874-4: #9fa1a4; /* 4 */
--color-875-8: #9fa3a9; /* 8 */
--color-876-2: #e0e2e5; /* 2 */
--color-877-10: #d1d5db; /* 10 */
--color-878-1: #f0f2f5; /* 1 */
--color-879-2: #185abd; /* 2 */
--color-880-2: rgba(24,90,189,0.1); /* 2 */
--color-881-1: #1b6ae2; /* 1 */
--color-882-5: #0066ff; /* 5 */
--color-883-2: #227aff; /* 2 */
--color-884-2: #282d35; /* 2 */
--color-885-1: rgb(78,88,104); /* 1 */
--color-886-1: rgba(78,88,104,0.8); /* 1 */
--color-887-5: rgb(58,68,84); /* 5 */
--color-888-3: rgba(58,68,84,0.8); /* 3 */
--color-889-1: #6b6e73; /* 1 */
--color-890-6: #c7cacf; /* 6 */
--color-891-6: #dbdee3; /* 6 */
--color-892-6: #181c23; /* 6 */
--color-893-2: rgba(24,28,35,0.5); /* 2 */
--color-894-2: rgba(161,172,192,0.137); /* 2 */
--color-895-1: rgb(105, 129, 174); /* 1 */
--color-896-4: #85a5e0; /* 4 */
--color-897-1: #447de8; /* 1 */
--color-898-5: #636466; /* 5 */
--color-899-4: #4f5052; /* 4 */
--color-900-2: #5b5c5e; /* 2 */
--color-901-6: #50545c; /* 6 */
--color-902-8: #3c4048; /* 8 */
--color-903-1: rgba(74, 80, 92, 0.3); /* 1 */
--color-904-4: #5a6986; /* 4 */
--color-905-2: #3b5998; /* 2 */
--color-906-6: #787b82; /* 6 */
--color-907-6: #8c8f96; /* 6 */
--color-908-2: #2e3138; /* 2 */
--color-909-1: #f5f8ff; /* 1 */
--color-910-6: #64676f; /* 6 */
--color-911-1: #d7d9df; /* 1 */
--color-912-2: rgba(6,7,10,0.5); /* 2 */
--color-913-6: #3253bc; /* 6 */
--color-914-5: #5472d2; /* 5 */
--color-915-2: #3c5ecc; /* 2 */
--color-916-6: #b5b8c8; /* 6 */
--color-917-1: #01106d; /* 1 */
--color-918-2: #444790; /* 2 */
--color-919-2: #6367de; /* 2 */
--color-920-2: #454547; /* 2 */
--color-921-10: #4d4d4f; /* 10 */
--color-922-4: #cececf; /* 4 */
--color-923-2: #ededee; /* 2 */
--color-924-5: #ededef; /* 5 */
--color-925-2: #363645; /* 2 */
--color-926-3: #53536a; /* 3 */
--color-927-4: #63637e; /* 4 */
--color-928-2: #6e6e8c; /* 2 */
--color-929-5: #7c7c98; /* 5 */
--color-930-2: #00c; /* 2 */
--color-931-2: #00f; /* 2 */
--color-932-5: #0000ff; /* 5 */
--color-933-3: #4f46e5; /* 3 */
--color-934-3: #d7d4f0; /* 3 */
--color-935-1: #219; /* 1 */
--color-936-1: #a691fe; /* 1 */
--color-937-1: #5d36ff; /* 1 */
--color-938-1: #3c0ad1; /* 1 */
--color-939-1: rgba(155, 118, 255, 0.1); /* 1 */
--color-940-1: #30a; /* 1 */
--color-941-6: #6e48b1; /* 6 */
--color-942-2: #7c57bb; /* 2 */
--color-943-5: #8d6dc4; /* 5 */
--color-944-6: #342f3c; /* 6 */
--color-945-4: #795ea5; /* 4 */
--color-946-1: #8233ff; /* 1 */
--color-947-52: #f2f0f5; /* 52 */
--color-948-5: #50485b; /* 5 */
--color-949-2: #413a4a; /* 2 */
--color-950-2: #b986f2; /* 2 */
--color-951-2: rgba(185,134,242,0.25); /* 2 */
--color-952-1: #925ace; /* 1 */
--color-953-2: #5d2599; /* 2 */
--color-954-2: rgba(93,37,153,0.1); /* 2 */
--color-955-4: #ecebed; /* 4 */
--color-956-1: #984bd2; /* 1 */
--color-957-1: #9e00fa; /* 1 */
--color-958-1: rgba(158,0,250,.2); /* 1 */
--color-959-1: #b45dde; /* 1 */
--color-960-4: #af52de; /* 4 */
--color-961-2: rgba(175,82,222,0.15); /* 2 */
--color-962-2: rgba(175,82,222,0.25); /* 2 */
--color-963-1: #d596f3; /* 1 */
--color-964-1: rgba(142,68,173,0.8); /* 1 */
--color-965-1: rgba(142,68,173,1); /* 1 */
--color-966-1: rgba(122,48,153,0.9); /* 1 */
--color-967-2: rgba(122,48,153,1); /* 2 */
--color-968-1: rgba(155,89,182,0.8); /* 1 */
--color-969-1: rgba(155,89,182,1); /* 1 */
--color-970-1: rgba(135,69,162,0.9); /* 1 */
--color-971-2: rgba(135,69,162,1); /* 2 */
--color-972-1: #d872ed; /* 1 */
--color-973-1: #a100c2; /* 1 */
--color-974-1: #708; /* 1 */
--color-975-6: #a559a8; /* 6 */
--color-976-2: #ae6ab0; /* 2 */
--color-977-5: #b97ebb; /* 5 */
--color-978-1: rgb(116, 113, 116); /* 1 */
--color-979-2: #e5e4e5; /* 2 */
--color-980-1: #f0f; /* 1 */
--color-981-5: #ff00ff; /* 5 */
--color-982-1: rgba(243, 29, 236, 0.1); /* 1 */
--color-983-4: #d95fd1; /* 4 */
--color-984-1: #c586c0; /* 1 */
--color-985-1: #cf30c3; /* 1 */
--color-986-2: #970a82; /* 2 */
--color-987-1: #c0399f; /* 1 */
--color-988-1: #db1f77; /* 1 */
--color-989-6: #c7084b; /* 6 */
--color-990-2: #bc6580; /* 2 */
--color-991-4: #cc0033; /* 4 */
--color-992-1: #dc143c; /* 1 */
--color-993-4: #ff2d55; /* 4 */
--color-994-2: rgba(255,45,85,0.15); /* 2 */
--color-995-2: rgba(255,45,85,0.25); /* 2 */
--color-996-1: #ebccd1; /* 1 */
--color-997-4: #fe96a1; /* 4 */
--color-998-4: #e82736; /* 4 */
--color-999-2: rgba(232,39,54,0.1); /* 2 */
--color-1000-2: rgba(232,39,54,0.25); /* 2 */
--color-1001-1: #c0272b; /* 1 */
--color-1002-1: #eb0008; /* 1 */
 }