.root {
    --1:  #f5efe3 ;
--1:  #c9c9c9 ;
--1:  #96c93c ;
--1:  rgba(51,51,51,0.7) ;
--1:  #ff9c33 ;
--1:  #303030 ;
--1:  #807979 ;
--1:  rgb(63, 63, 63) ;
--1:  rgb(105, 129, 174) ;
--1:  rgb(247, 164, 14) ;
--1:  rgb(116, 113, 116) ;
--1:  #9ac949 ;
--1:  #a0a0a0 ;
--1:  rgb(77, 77, 77) ;
--1:  #2b6191 ;
--1:  rgba(240, 171, 0, 0.1) ;
--1:  #ebf8ff ;
--1:  #f1ecff ;
--1:  #fff8d6 ;
--1:  #f5fae5 ;
--1:  #ffeaf4 ;
--1:  #04aca7 ;
--1:  #dafdf5 ;
--1:  #f31ded ;
--1:  #fff0fa ;
--1:  #f3f4f6 ;
--1:  rgba(131, 150, 168, 0.1) ;
--1:  rgba(0, 0, 0, 0.07) ;
--1:  rgba(0, 0, 0, 0.12) ;
--1:  #444790 ;
--1:  #d43f3a ;
--1:  #d4403a ;
--1:  #c5c5c5 ;
--1:  rgba(115, 115, 115, 0.15) ;
--1:  rgba(148, 148, 148, 0.15) ;
--1:  #4a90f2 ;
--1:  #a691fe ;
--1:  #ec995b ;
--1:  #72be87 ;
--1:  #f26161 ;
--1:  #77c5cf ;
--1:  #d872ed ;
--1:  #a4b3c3 ;
--1:  #a9640a ;
--1:  #d9800d ;
--1:  #2274e2 ;
--1:  #eb0008 ;
--1:  #1b870d ;
--1:  #22a711 ;
--1:  #d7dbdd ;
--1:  #f7f8f8 ;
--1:  #41d239 ;
--1:  #536878 ;
--1:  rgba(211, 211, 211, 0.5) ;
--1:  #4e4e4e ;
--1:  #fd2e06 ;
--1:  #757575 ;
--1:  #ffd230 ;
--1:  #d8ac12 ;
--1:  #e3ba24 ;
--1:  #b7b7b7 ;
--1:  #d7b472 ;
--1:  #aa8a4c ;
--1:  #b7994b ;
--1:  #f8f9f9 ;
--1:  #d4dfe3 ;
--1:  #bbbbbb ;
--1:  #068845 ;
--1:  #0076ca ;
--1:  #1c1c1c ;
--1:  #cacaca ;
--1:  #ac2925 ;
--1:  #c9302c ;
--1:  #adfad3 ;
--1:  rgba(0, 0, 0, .7) ;
--1:  #447de8 ;
--1:  #00822f ;
--1:  #e4e7eb ;
--1:  #8233ff ;
--1:  #a40000 ;
--1:  rgba(250, 71, 71, 0.1) ;
--1:  rgba(0, 210, 75, 0.1) ;
--1:  #009af9 ;
--1:  rgba(0,0,0,.15) ;
--1:  #00c100 ;
--1:  rgba(255,255,255,0.55) ;
--1:  #a20000 ;
--1:  #cfcfcf ;
--1:  #606060 ;
--1:  #979797 ;
--1:  #4f5052 ;
--1:  #c3d0b0 ;
--1:  rgb(148,215,148) ;
--1:  rgb(131, 189, 131) ;
--1:  rgba(255, 255, 255, 0.4) ;
--1:  #6b6e73 ;
--1:  #a5cf49 ;
--1:  #fffff0 ;
--1:  #4caf50 ;
--1:  rgba(0,0,0,0.2) ;
--1:  #00aced ;
--1:  #075cb0 ;
--1:  rgba(0,0,0,0.3) ;
--1:  #f5a742 ;
--1:  #d62929 ;
--1:  #db1f77 ;
--1:  #c0399f ;
--1:  #1973cc ;
--1:  #0cd7ed ;
--1:  #7ca10c ;
--1:  #925ace ;
--1:  #5c819d ;
--1:  #d04343 ;
--1:  #2b78c5 ;
--1:  #984bd2 ;
--1:  #213b54 ;
--1:  #1b3046 ;
--1:  #7b9abc ;
--1:  rgba(10, 110, 209, 0.07) ;
--1:  rgba(10, 110, 209, 0.1) ;
--1:  #0254a7 ;
--1:  #3c0ad1 ;
--1:  rgba(74, 80, 92, 0.3) ;
--1:  #c5dcf2 ;
--1:  rgba(10,110,209,.6) ;
--1:  #bce8f1 ;
--1:  #8fdf82 ;
--1:  rgba(255, 255, 255, 0.75) ;
--1:  rgba(255, 255, 255, 0.2) ;
--1:  rgba(0, 0, 0, 0.3) ;
--1:  #fcf8e3 ;
--1:  #6a8c00 ;
--1:  #f2dede ;
--1:  #e7c3c3 ;
--1:  #353535 ;
--1:  #ececec ;
--1:  rgba(0, 0, 0, 0) ;
--1:  #c5bebe ;
--1:  #6f6f6f ;
--1:  #dc143c ;
--1:  #fd4 ;
--1:  #fe7 ;
--1:  #005d96 ;
--1:  rgba(0, 0, 0, 0.5) ;
--1:  rgba(255, 255, 255, 0.8) ;
--1:  rgba(255, 255, 255, 0.85) ;
--1:  #47a447 ;
--1:  #398439 ;
--1:  #161616 ;
--1:  #ffc300 ;
--1:  #92d400 ;
--1:  #fc7022 ;
--1:  #382e1f ;
--1:  #496132 ;
--1:  #fff2c1 ;
--1:  #ffdab9 ;
--1:  #7eadd9 ;
--1:  #ddefff ;
--1:  #f0f8ff ;
--1:  #61942e ;
--1:  #fc3 ;
--1:  #ffc ;
--1:  #339933 ;
--1:  #006600 ;
--1:  #9cce49 ;
--1:  #227aff ;
--1:  #e8f1fe ;
--1:  #1a1a1a ;
--1:  #fbfbfb ;
--1:  #b4b4b4 ;
--1:  #aca899 ;
--1:  #aaaaaa ;
--1:  #c30 ;
--1:  #fee ;
--1:  #ff7870 ;
--1:  #c0272b ;
--1:  #575757 ;
--1:  #d7d9df ;
--1:  #3764a0 ;
--1:  #8d8d8d ;
--1:  #444444 ;
--1:  #373737 ;
--1:  #898989 ;
--1:  #393939 ;
--1:  #363636 ;
--1:  #ff4545 ;
--1:  #dbdbdb ;
--1:  #84a0c4 ;
--1:  #396095 ;
--1:  #f0f2f5 ;
--1:  #1b6ae2 ;
--1:  #dedede ;
--2:  #72c9e9 ;
--2:  rgba(0, 0, 0, 0.176) ;
--2:  #ababab ;
--2:  #4c4c4c ;
--2:  #d4d4d4 ;
--2:  #616161 ;
--2:  #e8e8e8 ;
--2:  #337ab7 ;
--2:  #a87700 ;
--2:  #1b90ff ;
--2:  #9b76ff ;
--2:  #5d36ff ;
--2:  rgba(155, 118, 255, 0.1) ;
--2:  #f58b00 ;
--2:  #a93e00 ;
--2:  rgba(245, 139, 0, 0.1) ;
--2:  #5dc122 ;
--2:  #256f3a ;
--2:  rgba(92, 193, 34, 0.1) ;
--2:  #ee3939 ;
--2:  #aa0808 ;
--2:  rgba(238, 57, 57, 0.1) ;
--2:  #046c7a ;
--2:  rgba(4, 172, 167, 0.1) ;
--2:  #a100c2 ;
--2:  rgba(243, 29, 236, 0.1) ;
--2:  #8396a8 ;
--2:  #475e75 ;
--2:  #d89900 ;
--2:  #737373 ;
--2:  #949494 ;
--2:  #952 ;
--2:  #f62 ;
--2:  #090909 ;
--2:  #3e3c3c ;
--2:  #f6f6f6 ;
--2:  #fa3e3e ;
--2:  #3d3d3d ;
--2:  #970a82 ;
--2:  #dfdfdf ;
--2:  #1980ec ;
--2:  #cdcdcd ;
--2:  #069 ;
--2:  #e5e4e5 ;
--2:  #043e20 ;
--2:  #00b942 ;
--2:  #003914 ;
--2:  #6e6e8c ;
--2:  #363645 ;
--2:  #ffa700 ;
--2:  #7f5300 ;
--2:  #0ab05b ;
--2:  rgba(0, 0, 0, .15) ;
--2:  #bc6580 ;
--2:  #c3cbd3 ;
--2:  #ffcc00 ;
--2:  #b3b3b3 ;
--2:  rgba(255,255,255,0.2) ;
--2:  #2db200 ;
--2:  rgba(255,255,255,1) ;
--2:  #70a33c ;
--2:  #d9a300 ;
--2:  #454547 ;
--2:  #9bce49 ;
--2:  #5b5c5e ;
--2:  rgb(185, 185, 185) ;
--2:  #e2dede ;
--2:  #3b5998 ;
--2:  rgba(50, 151, 253, 0.75) ;
--2:  #f1fdf6 ;
--2:  #fef7f1 ;
--2:  #ffebeb ;
--2:  #f5faff ;
--2:  #bb0000 ;
--2:  #6367de ;
--2:  #d17f15 ;
--2:  #d1e8ff ;
--2:  #085caf ;
--2:  rgba(10, 110, 209, 0.4) ;
--2:  #ededee ;
--2:  rgba(0,0,0,.07) ;
--2:  #3a87ad ;
--2:  #808080 ;
--2:  #f3efec ;
--2:  #99cc00 ;
--2:  #708090 ;
--2:  #292929 ;
--2:  #94c947 ;
--2:  #5d5d5d ;
--2:  rgba(0, 0, 0, 0.125) ;
--2:  #4cae4c ;
--2:  blue ;
--2:  #5a6986 ;
--2:  #64992c ;
--2:  #d95fd1 ;
--2:  #795ea5 ;
--2:  #85a5e0 ;
--2:  #fe96a1 ;
--2:  #8c513b ;
--2:  #f29422 ;
--2:  #a7d78d ;
--2:  #3cb371 ;
--2:  #778899 ;
--2:  #cc0033 ;
--2:  #669999 ;
--2:  #d3d3d3 ;
--2:  #8f8f8f ;
--2:  #f9f9f9 ;
--2:  #afafaf ;
--2:  #101010 ;
--2:  #e9e9e9 ;
--2:  #e2e2e2 ;
--2:  #a6a6a6 ;
--2:  #f2f4f4 ;
--2:  #145072 ;
--2:  #85bae4 ;
--3:  #bee0ee ;
--3:  #bfbfbf ;
--3:  #8bbb39 ;
--3:  #0057d2 ;
--3:  rgba(27, 145, 255, 0.1) ;
--3:  #0059c8 ;
--3:  #9c9c9c ;
--3:  #8c8c8c ;
--3:  rgb(176, 176, 176) ;
--3:  #0097cf ;
--3:  rgba(0, 0, 0, 0.2) ;
--3:  #a7a7a7 ;
--3:  rgba(0, 0, 0, 0.15) ;
--3:  #727272 ;
--3:  #088746 ;
--3:  #077d41 ;
--3:  #007b2c ;
--3:  #53536a ;
--3:  #c17f00 ;
--3:  rgba(0, 0, 0, .2) ;
--3:  #4f46e5 ;
--3:  #445e74 ;
--3:  rgba(255, 255, 255, .85) ;
--3:  rgba(247, 247, 247, .85) ;
--3:  #c9dada ;
--3:  rgba(0,0,0,0.5) ;
--3:  #0066ff ;
--3:  #d2eaff ;
--3:  #90bd63 ;
--3:  #d95348 ;
--3:  #3071a9 ;
--3:  rgba(137,145,154,.4) ;
--3:  #d7d7d7 ;
--3:  rgba(0, 0, 0, 0.6) ;
--3:  rgba(0, 0, 0, .25) ;
--3:  #4596ce ;
--4:  #d9d9d9 ;
--4:  #9fa1a4 ;
--4:  #56a00e ;
--4:  #00d24c ;
--4:  #b5d0e8 ;
--4:  #a94442 ;
--4:  #5bc6e8 ;
--4:  #131517 ;
--4:  #adadad ;
--4:  #009f39 ;
--4:  #63637e ;
--4:  #e59600 ;
--4:  rgba(255, 255, 255, .1) ;
--4:  rgba(0, 0, 0, .3) ;
--4:  #336699 ;
--4:  #222 ;
--4:  #9cc153 ;
--4:  #cececf ;
--4:  #f3f3f3 ;
--4:  #74777a ;
--4:  #fafafa ;
--4:  rgba(242,242,242,.5) ;
--4:  rgba(50,54,58,.08) ;
--4:  rgba(106,109,112,.4) ;
--4:  #432 ;
--4:  #e3dad1 ;
--4:  #00a9e0 ;
--4:  #ffa500 ;
--4:  #fffaea ;
--4:  #339900 ;
--4:  #d8d8d8 ;
--4:  rgba(0, 0, 0, 0.40) ;
--5:  #636466 ;
--5:  #666666 ;
--5:  #eeeeee ;
--5:  rgba(255, 255, 255, 0.5) ;
--5:  #121212 ;
--5:  #707070 ;
--5:  #e35600 ;
--5:  rgba(0, 0, 0, 0.075) ;
--5:  rgba(0,0,0,.2) ;
--5:  #89919a ;
--5:  #fa4747 ;
--5:  #7c7c98 ;
--5:  #ffb019 ;
--5:  #ffcccc ;
--5:  rgba(0, 0, 0, 0.05) ;
--5:  #d14836 ;
--5:  #ededef ;
--5:  #fefefe ;
--5:  #dadada ;
--5:  #354a5f ;
--5:  #b00 ;
--5:  #ffffcc ;
--5:  #c8c8c8 ;
--6:  #e5e5e5 ;
--6:  #f1f1f1 ;
--6:  #f84545 ;
--6:  #e7e7e7 ;
--6:  #099f52 ;
--6:  rgba(0, 0, 0, .1) ;
--6:  #ffff99 ;
--6:  rgba(0,0,0,0.4) ;
--6:  rgba(10,110,209,.07) ;
--6:  #7c7c7c ;
--6:  rgba(238, 238, 238, 0.3) ;
--6:  #455e74 ;
--6:  #b5b8c8 ;
--6:  #efefef ;
--7:  #fcbe49 ;
--7:  #008fd3 ;
--7:  #cc0000 ;
--7:  #e0e0e0 ;
--7:  #00d24b ;
--7:  #efab00 ;
--7:  #767676 ;
--7:  #0bb75f ;
--7:  #99ccff ;
--7:  #0854a0 ;
--7:  #0a7e3e ;
--7:  #e9730c ;
--7:  #0a6dd1 ;
--7:  #99cc66 ;
--7:  #00a1e1 ;
--8:  #555555 ;
--8:  #f7f7f7 ;
--8:  #f8f8f8 ;
--8:  #4fb81c ;
--8:  #5bc0de ;
--8:  #b9b9b9 ;
--8:  #bcbcbc ;
--9:  #2a2a2a ;
--9:  green ;
--9:  #f3f6f7 ;
--9:  #f2f2f2 ;
--9:  #ff0000 ;
--9:  #99ce46 ;
--9:  #686868 ;
--10:  #4d4d4f ;
--10:  #d1d5db ;
--10:  #00365a ;
--10:  #04599a ;
--10:  #bf4900 ;
--11:  #333333 ;
--11:  #edeff0 ;
--11:  #428bca ;
--11:  #009900 ;
--11:  #111 ;
--11:  #669900 ;
--12:  #a5cf48 ;
--12:  #000000 ;
--12:  #777 ;
--12:  #ff8635 ;
--12:  #909090 ;
--12:  #f4f4f4 ;
--12:  #434343 ;
--13:  #5b5b5b ;
--13:  #006699 ;
--13:  rgba(0, 0, 0, 0.1) ;
--14:  #f0f0f0 ;
--14:  #ebebeb ;
--14:  #d9534f ;
--14:  #f0ad4e ;
--15:  #999 ;
--15:  #e4e4e4 ;
--15:  #e6e6e6 ;
--15:  #010101 ;
--15:  #dd4b39 ;
--15:  #7bbaf9 ;
--16:  #eaeaea ;
--16:  #ce0000 ;
--16:  #1797c0 ;
--17:  red ;
--17:  #6a6d70 ;
--18:  #00a8e3 ;
--18:  #dddddd ;
--19:  #999999 ;
--20:  black ;
--20:  #4d4d4d ;
--20:  #ededed ;
--20:  #555 ;
--20:  #5cb85c ;
--21:  orange ;
--22:  #cccccc ;
--23:  #262626 ;
--23:  #ff3300 ;
--24:  #bbb ;
--24:  #83bc49 ;
--25:  #51555a ;
--27:  #888 ;
--27:  #1f252d ;
--31:  rgba(0, 0, 0, 0.25) ;
--31:  #0a6ed1 ;
--32:  #0ccf6b ;
--34:  #444 ;
--34:  #f2f0f5 ;
--35:  #f5f5f5 ;
--36:  #aaa ;
--43:  #ddd ;
--43:  #d0d0d0 ;
--44:  #f0ab00 ;
--46:  gray ;
--50:  #000 ;
--59:  #eee ;
--67:  #ffffff ;
--67:  #32363a ;
--79:  #dcdcdc ;
--105:  #333 ;
--146:  #666 ;
--148:  #ccc ;
--209:  white ;
--431:  #fff ;
}